<!-- begin:: Content -->
<div class="k-content k-grid__item k-grid__item--fluid" id="k_content">
  <div class="row">
    <div class="col-lg-12">

      <!--begin::Form-->
      <form class="k-form k-form--label-right clean_on" #pessoa="ngForm" (ngSubmit)="onSubmit(pessoa);">

        <!--begin: Portlet Main-->
        <div class="k-portlet">
          <div class="k-portlet__body">

            <!--begin::Accordion-->
            <div class="accordion accordion-light" id="accordionExample1">

              <!--begin: Card 1 : Dados Pessoais -->
              <div class="card">
                <div class="card-header" id="headingOne1">
                  <div class="card-title" data-toggle="collapse" data-target="#collapseOne1" aria-expanded="false" aria-controls="collapseOne1"> <i class="flaticon2-user"></i> Dados Pessoais </div>
                </div>
                <div id="collapseOne1" class="collapse show" aria-labelledby="headingOne1" data-parent="#accordionExample1" style="">
                  <div class="card-body">

                    <!--begin::Portlet 1-->
                    <div class="k-portlet">
                      <!--
                      <div class="k-portlet__head">
                          <div class="k-portlet__head-label">
                              <h3 class="k-portlet__head-title">
                                  Dados Pessoais
                              </h3>
                          </div>
                      </div>
                      -->
                      <div class="k-portlet__body p-1">
                        <div class="form-group row">
                          <div class="col-lg-2">
                            <div class="k-avatar k-avatar--circle" id="">
                              <div class="k-avatar__holder" style="background-image: url(../../assets/media/users/300_4.jpg);"></div>
                              <label class="k-avatar__upload" data-toggle="k-tooltip" title="Alterar Foto">
                                <i class="fa fa-pen"></i>
                                <input type="file" name="DP_Avatar" accept=".png, .jpg, .jpeg" />
                              </label>
                              <span class="k-avatar__cancel" data-toggle="k-tooltip" title="Cancel avatar"> <i class="fa fa-times"></i> </span>
                            </div>
                            <div class="k-checkbox-list mt-2" data-toggle="popover" data-trigger="hover" tabindex="7" data-placement="top" data-content="Remove a obrigatoriedade dos demais campos e impõe o preenchimento do campo [Descrição]">
                              <label class="k-checkbox k-checkbox--bold" id="btn_naoidentificado">
                                <input type="checkbox" name="DP_NaoIdentificado" ngModel>Não Identificado<span></span>
                              </label>
                            </div>

                          </div>


                          <!--begin::Mostra/Oculta Nome Completo e Nome Social -->
                          <div class="col-lg-6" id="box_nomecompleto">
                            <div class="" id="box_nomecomp">
                              <label>Nome Completo</label>
                              <input type="text" class="form-control maisc" name="DP_NomeCompleto" placeholder="" maxlength="140" autocomplete="off" tabindex="1" autofocus ngModel>

                            </div>
                            <div class="dropdown-menu dropdown-menu-fit dropdown-menu-right dropdown-menu-top-unround dropdown-menu-anim dropdown-menu-lg">
                              <div class="kt-quick-search kt-quick-search--dropdown kt-quick-search--result-compact" id="kt_quick_search_dropdown">
                                <div class="input-group">
                                  <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="flaticon2-search-1"></i></span>
                                  </div>
                                  <input type="text" class="form-control kt-quick-search__input" placeholder="Search...">
                                  <div class="input-group-append">
                                    <span class="input-group-text"><i class="la la-close kt-quick-search__close"></i></span>
                                  </div>
                                </div>

                                <div class="kt-quick-search__wrapper kt-scroll ps" data-scroll="true" data-height="325" data-mobile-height="200" style="height: 325px; overflow: hidden;"><div class="ps__rail-x" style="left: 0px; bottom: 0px;"><div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps__rail-y" style="top: 0px; right: 0px;"><div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 0px;"></div></div></div>
                              </div>
                            </div>

                            <div class="oculta" id="box_numprontmae">
                              <label>Número do Prontuário da Mãe</label>
                              <input type="text" class="form-control maisc" name="DP_NumProntuarioMae" placeholder="" maxlength="10" tabindex="4" ngModel>
                            </div>

                            <div class="k-checkbox-list mt-2">
                              <label class="k-checkbox k-checkbox--bold" id="btn_recemnasc">
                                <input type="checkbox" name="DP_RecemNascido" tabindex="3" ngModel>Recém Nascido<span></span>
                              </label>
                            </div>
                            <!-- <span class="form-text text-muted">Please enter your full name</span> -->
                          </div>
                          <div class="col-lg-4" id="box_social">
                            <!-- id="box_nomesocial" -->
                            <div class="" id="box_nomesocial">
                              <label>Nome Social</label>
                              <input type="text" class="form-control maisc" name="DP_NomeSocial" placeholder="" maxlength="140" tabindex="2" ngModel>
                              <!-- <span class="form-text text-muted">Please enter your contact number</span> -->
                            </div>
                            <div class="oculta" id="box_nomeRN">
                              <label>Nome do Recém Nascido</label>
                              <input type="text" class="form-control maisc" name="DP_NomeRN" placeholder="" maxlength="140" ngModel>
                              <!-- <span class="form-text text-muted">Please enter your contact number</span> -->
                            </div>

                            <!--end::Mostra/Oculta Nome Completo e Nome Social -->


                            <div id="mostra"></div>
                          </div>

                          <!--begin::Mostra/Oculta Descrição -->
                          <div class="col-lg-10 oculta" id="box_descricao">
                            <label>Descrição</label>
                            <textarea class="form-control" name="DP_Descricao_Nao_Identificado" rows="5" tabindex="6" style="resize:none;" ngModel></textarea>
                            <span class="form-text text-muted">Campo de preenchimento obrigatório</span>
                          </div>
                          <!--end::Mostra/Oculta Descrição -->
                        </div>
                        <div class="form-group row">
                          <div class="col-lg-2">
                            <label class="text-left d-block">Sexo</label>

                            <div class="btn-group btn-group-toggle" data-toggle="buttons" id="sexo">
                              <label class="btn btn-outline-info clear" for="DP_Sexo_Masculino" style="cursor:pointer;" data-toggle="popover" data-placement="top" data-trigger="hover">
                                <input type="radio" name="DP_Sexo" autocomplete="off" tabindex="8" value="M">
                                <i class="fa fa-male fa-fw" style="font-size:1.5em;"> </i>
                              </label>
                              <label class="btn btn-outline-focus clear" for="DP_Sexo_Feminino" style="cursor:pointer;" data-toggle="popover" data-placement="top" data-trigger="hover">
                                <input type="radio" name="DP_Sexo" autocomplete="off" tabindex="9" value="F">
                                <i class="fa fa-female fa-fw p-0" style="font-size:1.5em;"> </i>
                              </label>

                            </div>



                          </div>
                          <div class="col-lg-2">
                            <label>Nascimento</label>
                            <input type="text" class="form-control mask_data" name="DP_Nascimento" placeholder="00/00/0000" tabindex="10">
                          </div>
                          <div class="col-lg-2">
                            <label>Idade Aparente</label>
                            <div class="k-input-icon">
                              <input type="text" class="form-control" name="DP_IdadeAparente" placeholder="" tabindex="11" ngModel>
                              <!--
                              <span class="k-input-icon__icon k-input-icon__icon--right">
                                  <span><i class="la la-calendar"></i></span>
                              </span>
                              -->
                            </div>
                          </div>

                          <div class="col-lg-2">
                            <label class="">Cor</label>
                            <div class="k-input-icon">
                              <select class="form-control" name="DP_Cor" tabindex="12" [(ngModel)]="Raca" (change)="selectedRaca()">
                                <option value="-1">-- Selecione --</option>
                                <option *ngFor="let raca of listaRaca | orderBy: orderNome" [ngValue]="raca">{{raca.nome}}</option>
                              </select>
                            </div>
                          </div>
                          <div class="col-lg-4">
                            <label class="">Etnia</label>
                            <div class="k-input-icon">
                              <select class="form-control" name="DP_Etnia" tabindex="13" [(ngModel)]="Etnia" disabled>
                                <option value="-1">-- Selecione --</option>
                                <option *ngFor="let etnia of listaEtnia| orderBy: orderNome" [ngValue]="etnia">{{etnia.nome}}</option>
                              </select>
                            </div>
                          </div>
                        </div>

                        <div class="form-group row">
                          <div class="col-lg-6">
                            <label>Nome do Pai</label>
                            <input type="text" class="form-control maisc" name="DP_NomePai" placeholder="" maxlength="70" tabindex="14" ngModel>
                            <!-- <span class="form-text text-muted">Please enter your full name</span> -->
                          </div>
                          <div class="col-lg-6">
                            <label>Nome do Mãe</label>
                            <input type="text" class="form-control maisc" name="DP_NomeMae" placeholder="" maxlength="70" tabindex="15" ngModel>
                            <!-- <span class="form-text text-muted">Please enter your full name</span> -->
                          </div>
                        </div>

                        <div class="form-group row">
                          <div class="col-lg-3">
                            <label>CPF</label>
                            <input type="text" class="form-control mask_cpf" name="DP_CPF" id="DP_CPF" placeholder="000.000.000-00" maxlength="11" value="" tabindex="16" ngModel>
                            <span id="msg_cpf" class="form-text text-danger oculta">Informe um CPF válido</span>
                          </div>
                          <div class="col-lg-3">
                            <label>Justificativa CPF</label>
                            <select class="form-control" name="DP_JustificativaCPF" tabindex="17" [(ngModel)]="Justificativa">
                              <option value="-1">-- Selecione --</option>
                              <option *ngFor="let justificativa of listaJustificativa | orderBy: orderDescricao" [ngValue]="justificativa">{{justificativa.descricao}}</option>

                            </select>

                          </div>
                          <div class="col-lg-2">
                            <label>Nacionalidade</label>


                            <select class="form-control" name="DP_Nacionalidade" tabindex="18" [(ngModel)]="Nacionalidade">
                              <option value="-1">-- Selecione --</option>
                              <option *ngFor="let nacionalidade of listaNacionalidade" [ngValue]="nacionalidade">{{nacionalidade.descricao}}</option>
                              <!--| orderBy: orderDescricao-->
                            </select>

                          </div>
                          <div class="col">
                            <label>Naturalidade</label>
                            <div class="input-group">
                              <div class="input-group-prepend">

                                <select class="form-control" name="DP_NaturalidadeUF" tabindex="19" [(ngModel)]="Estado" (change)="selectedUf()">
                                  <option value="-1">-- Selecione --</option>
                                  <option *ngFor="let estado of listaEstado | orderBy: orderUf" [ngValue]="estado">{{estado.uf}}</option>
                                </select>

                                <select class="form-control" name="DP_NaturalidadeCidade" tabindex="20" [(ngModel)]="Cidade">
                                  <option value="-1">-- Selecione --</option>
                                  <option *ngFor="let cidade of listaCidade| orderBy: orderNome" [ngValue]="cidade">{{cidade.nome}}</option>
                                </select>
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="form-group row">
                          <div class="col-lg-3">
                            <label>Identidade</label>
                            <input type="text" class="form-control mask_rg" name="DP_Identidade" placeholder="" tabindex="21" ngModel>
                          </div>
                          <div class="col-lg-3">
                            <label>UF da Identidade</label>

                            <select class="form-control" name="DP_IdentidadeUF" tabindex="22" [(ngModel)]="UfIdentidade">
                              <option value="-1">-- Selecione --</option>
                              <option *ngFor="let UfIdentidade of listaUFIdentidade| orderBy: orderUf" [ngValue]="UfIdentidade">{{UfIdentidade.uf}}</option>

                            </select>

                          </div>
                          <div class="col-lg-4">
                            <label>Órgão Emissor</label>

                            <select class="form-control" name="DP_OrgaoEmissor" tabindex="23" [(ngModel)]="OrgaoEmissor">
                              <option value="-1">-- Selecione --</option>
                              <option *ngFor="let OrgaoEmissor of listaOrgaoEmissor | orderBy: orderDescricao" [ngValue]="OrgaoEmissor">{{OrgaoEmissor.descricao}}</option>
                            </select>
                          </div>
                          <div class="col-lg-2">
                            <label>Emissão</label>
                            <input type="text" class="form-control mask_data" name="DP_OrgaoEmissorData" tabindex="24" placeholder="00/00/0000">
                          </div>
                        </div>

                        <div class="form-group row">
                          <div class="col-lg-6">
                            <label>Cartão Nacional de Saúde</label>
                            <input type="text" class="form-control mask_cns" name="DP_CNS" id="DP_CNS" value="" tabindex="25" maxlength="15" ngModel>
                            <span id="msg_cns" class="form-text text-danger oculta">Informe um CNS válido</span>
                          </div>

                          <div class="col-lg-6">
                            <label>Tipo de Cadastro</label>
                            <div class="k-checkbox-list mt-2">
                              <label class="k-checkbox k-checkbox--brand" id="btn_dadosprof" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="Mostra/Oculta campos de registro de Dados Profissionais">
                                <input type="checkbox" name="DP_TipoCadastro" id="DP_TipoCadastro" value="" (click)="onHabilitaProfissional()" tabindex="26">Preencher informações do Profissional<span></span>
                              </label>
                            </div>
                          </div>

                        </div>



                      </div>
                      <!--end::Portlet 1-->

                    </div>
                  </div>
                </div>
                <!--end: Card 1 -->
                <!--begin: Card 2 : Dados Profissionais -->
                <div class="card oculta" id="box_dadosprof">
                  <div class="card-header" id="headingTwo1">
                    <div class="card-title" data-toggle="collapse" data-target="#collapseTwo1" aria-expanded="false" aria-controls="collapseTwo1"> <i class="flaticon-profile-1"></i>Dados Profissionais</div>
                  </div>
                  <div id="collapseTwo1" class="collapse" aria-labelledby="headingTwo1" data-parent="#accordionExample1">
                    <div class="card-body">

                      <!--begin::Portlet 2-->
                      <div class="k-portlet">




                        <div class="k-portlet__body p-1">
                          <div class="form-group row">
                            <div class="col-lg-2">
                              <label>Código</label>
                              <input type="text" class="form-control" style="background:#E5E5E5 !important;" name="Prof_Codigo" id="Prof_Codigo" placeholder="" disabled="disabled" ngModel>
                            </div>
                            <div class="col-lg-4">
                              <label>Login</label>
                              <input type="text" class="form-control" style="text-transform:lowercase;" name="DP_Prof_Login" maxlength="20" tabindex="27" placeholder="" ngModel>
                            </div>


                            <div class="col-lg-2">
                              <label class="d-block">&nbsp;</label>
                              <button type="button" class="btn btn-metal" tabindex="28" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="Gera uma Nova Senha temporária para o usuário"><i class="fa fa-unlock-alt"></i> Nova Senha</button>
                            </div>
                          </div>
                          <div style="margin: 1.5rem 0; border-bottom: 1px dashed #c9cbce;"></div>

                          <div class="form-group row">
                            <div class="col-lg-4">
                              <label>Tipo de Profissional</label>
                              <select class="form-control" name="DP_ProfTipo" tabindex="29" [(ngModel)]="TipoProfissional" id="idProfTipo">
                                <option value="-1">-- Selecione --</option>
                                <option *ngFor="let tipoProfissional of listaTipoProfissional | orderBy: orderDescricao" [ngValue]="tipoProfissional">{{tipoProfissional.descricao}}</option>
                              </select>
                              <span id="msg_tipoprofissional" class="form-text text-danger oculta">Informe o tipo do profissional</span>
                            </div>
                            <div class="col-lg-2">
                              <label>Número do Conselho</label>
                              <input type="text" class="form-control" tabindex="30" name="Prof_NumConselho" placeholder="" maxlength="10">
                            </div>
                            <div class="col-lg-2">
                              <label>UF</label>
                              <select class="form-control" name="DP_ProfUF" tabindex="31" [(ngModel)]="UfProfissional">
                                <option value="-1">-- Selecione --</option>
                                <option *ngFor="let ufProfissional of listaUFIdentidade| orderBy: orderUf" [ngValue]="ufProfissional">{{ufProfissional.uf}}</option>
                              </select>
                            </div>
                            <div class="col-lg-4">
                              <label>Órgão Emissor</label>
                              <select class="form-control" name="DP_Prof_OrgaoEmissor" tabindex="32" [(ngModel)]="OrgaoEmissorProfissional">
                                <option value="-1">-- Selecione --</option>
                                <option *ngFor="let OrgaoEmissorProfissional of listaOrgaoEmissor | orderBy: orderDescricao" [ngValue]="OrgaoEmissorProfissional">{{OrgaoEmissorProfissional.descricao}}</option>
                              </select>
                            </div>

                          </div>
                          <div class="form-group row">

                            <div class="col-lg-12">

                              <button type="button" tabindex="33" class="btn btn-metal" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="Adicionar uma nova lotação" style="float: right; margin-left: 10px;" (click)="onAdicionaLotacao()" id="btnAddNovaLotacao"><i class="fa fa-plus"></i>Adicionar</button>
                              <button type="button" class="btn btn-metal oculta" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="Cancelar a edição da lotação" style="float: right;" (click)="onLimparCamposProfissional()" id="btnCancelarLotacao"><i class="fa fa-plus"></i>Cancelar</button>
                            </div>
                          </div>
                          <!-- Grid -->
                          <table class="table table-striped- table-bordered table-hover table-checkable" id="k_table_1">
                            <thead>
                              <tr class="text-center">
                                <th>Tipo Profissional</th>
                                <th>Número Conselho</th>
                                <th>UF</th>
                                <th>Órgão Emissor</th>
                                <th>Coordenador</th>
                                <th>Ativo</th>
                                <th>&nbsp;</th>
                              </tr>
                            </thead>
                            <tbody id="tableLotacaoProfissional1" *ngFor="let item of listaLotacaoProfissional; let i = index">


                              <tr class="text-center" id="row{{i}}">
                                <td>{{ item.TipoProfissional.descricao }}</td>
                                <td>{{ item.numeroConselho }}</td>
                                <td>{{ item.ufProfissional }}</td>
                                <td>{{ item.OrgaoEmissorProfissional? item.OrgaoEmissorProfissional.descricao: '' }}</td>
                                <td>
                                  <label class="k-checkbox k-checkbox--bold">
                                    <input type="checkbox" class="form-control" name="Prof_Coord" id="ckcoordenador{{i}}" [checked]="item.coordenador"> <span></span>
                                  </label>
                                </td>
                                <td>
                                  <label class="k-checkbox k-checkbox--bold">
                                    <input type="checkbox" class="form-control" name="Prof_Ativo" id="ckativo{{i}}" [checked]="item.ativo"> <span></span>
                                  </label>
                                </td>
                                <td id="lotacaoActions">
                                  <button class="btn p-2 border-0 btn-sm btn-outline-secondary" type="button" title="Editar"><i class="fa fa-pen fa-fw" (click)="onEditarLotacao(item)"></i></button>
                                  <button class="btn p-2 border-0 btn-sm btn-outline-secondary" name="btn_excluir_lotacao" type="button" title="Editar" (click)="onExibeMensagemExcluir(item)"><i class="fa fa-trash fa-fw"></i></button>

                                </td>
                              </tr>

                            </tbody>
                          </table>
                        </div>
                      </div>
                      <!--end::Portlet 2-->

                    </div>
                  </div>
                </div>
                <!--end: Card 2 -->
                <!--begin: Card 3 -->
                <div class="card">
                  <div class="card-header" id="headingThree1">
                    <div class="card-title collapsed" data-toggle="collapse" data-target="#collapseThree1" aria-expanded="false" aria-controls="collapseThree1"> <i class="flaticon2-phone"></i> Contatos </div>
                  </div>
                  <div id="collapseThree1" class="collapse" aria-labelledby="headingThree1" data-parent="#accordionExample1">
                    <div class="card-body">

                      <!--begin::Portlet 3-->
                      <div class="k-portlet">
                        <!--
                        <div class="k-portlet__head">
                            <div class="k-portlet__head-label">
                                <h3 class="k-portlet__head-title">
                                    Contatos
                                </h3>
                            </div>
                        </div>
                        -->
                        <div class="k-portlet__body p-1" id="bodyContact">

                          <div class="form-group row m-0 p-0">
                            <div class="col">
                              <button type="button" id="btn_addContato" class="btn btn-sm btn-outline-hover-accent float-right" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="Adicionar campos para contato" tabindex="24" (click)="onAdicionaNovosCamposContato()"><i class="fa fa-plus"></i> Adicionar</button>
                            </div>
                          </div>


                          <div class="form-group row" id="box_newcontact0">
                            <div class="col-lg-3">
                              <label>Telefone</label>
                              <input type="text" class="form-control mask_phone" name="Cont_Telefone0" maxlength="20" value="" tabindex="21">
                            </div>
                            <div class="col-lg-3">
                              <label>Celular</label>
                              <input type="text" class="form-control mask_mobile" name="Cont_Celular0" maxlength="20" value="" tabindex="22">
                              <!-- <span class="form-text text-muted">Please enter your contact number</span> -->
                            </div>
                            <div class="col-lg-5">
                              <label>E-mail</label>
                              <input type="email" class="form-control minus" name="Cont_Email0" value="" tabindex="23">
                              <!--<div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="button" title="Editar"><i class="fa fa-edit fa-fw"></i></button>
                                <button class="btn btn-outline-secondary" type="button" title="Excluir"><i class="fa fa-trash fa-fw"></i></button>
                              </div>-->
                              <span class="form-text text-muted">Campo obrigatório após preenchimento de Dados Profissionais</span>
                            </div>
                            <div class="col-lg-1">
                              <label>&nbsp;</label>
                              <div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="button" title="Excluir" id="btnExcluirContato0" (click)="onAdicionaContato()"><i class="fa fa-trash fa-fw"></i></button>
                              </div>
                            </div>
                            <!--<div class="col-lg-2">
                              <label class="d-block">&nbsp;</label>
                              <button type="button" class="btn btn-metal" id="btnAddContato" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="Adicionar campos para contato" tabindex="24" (click)="onAdicionaContato()"><i class="fa fa-plus"></i> Adicionar</button>

                            </div>-->
                          </div>

                        </div>
                      </div>
                      <!--end::Portlet 3-->

                    </div>
                  </div>
                </div>
                <!--end: Card 3 -->
                <!--begin: Card 4 -->
                <div class="card">
                  <div class="card-header" id="headingFour1">
                    <div class="card-title collapsed" data-toggle="collapse" data-target="#collapseFour1" aria-expanded="false" aria-controls="collapseFour1"> <i class="flaticon-placeholder-3"></i>Endereço</div>
                  </div>
                  <div id="collapseFour1" class="collapse" aria-labelledby="headingFour1" data-parent="#accordionExample1">
                    <div class="card-body">

                      <!--begin::Portlet 4-->
                      <div class="k-portlet">
                        <!--
                            <div class="k-portlet__head">
                                <div class="k-portlet__head-label">
                                    <h3 class="k-portlet__head-title">
                                        Endereço
                                    </h3>
                                </div>
                            </div>
                        -->
                        <div class="k-portlet__body">
                          <div class="form-group row">
                            <div class="col-lg-2">
                              <label>CEP</label>
                              <input type="text" class="form-control mask_cep" name="DP_CEP" id="DP_CEP" maxlength="11" value="" tabindex="25" (blur)="onBuscaCep()">
                              <span id="msg_cep" class="form-text text-danger oculta">Informe um CEP válido</span>
                            </div>
                            <div class="col-lg-6">
                              <label>Logradouro</label>
                              <input type="text" class="form-control" name="DP_Logradouro" placeholder="" maxlength="150" value="" tabindex="26" (keypress)="onBuscaCep()"   ngModel>


                              <div class="dropdown-menu dropdown-menu-fit dropdown-menu-right dropdown-menu-top-unround dropdown-menu-anim dropdown-menu-lg show oculta" x-placement="bottom-end" style="position: absolute; left: 10px;width: 95%; will-change: transform;" id="divPesquisa">
                                <div  class="k-quick-search k-quick-search--dropdown k-quick-search--result-compact k-quick-search--has-result" id="k_quick_search_dropdown">

                                  <div class="k-quick-search__wrapper k-scroll ps"  style="height: 325px;  overflow: hidden;" >
                                    <div class="kt-quick-search__result" id="divresultadologradouro">
                                      <table class="table table-hover">
                                        <thead>
                                          <tr>
                                            <th>
                                            </th>
                                        </thead>
                                        <tbody>
                                          <tr *ngFor="let cep of listaCep;" style="cursor:pointer">
                                            <td (click)="onSelectedCep(cep)">{{cep.logradouro}} - {{cep.bairro}} - {{cep.cep}}</td>

                                          </tr>
                                        </tbody>
                                      </table>
                                    </div>
                                  </div>
                                </div>
                              </div>


                            </div>
                            <div class="col-lg-2">
                              <label>Número</label>
                              <input type="text" class="form-control" name="DP_Numero" placeholder="" maxlength="10" value="" tabindex="27" (keyup)="onLimpaConsultaCep()" ngModel>
                            </div>
                            <div class="col-lg-2">
                              <label>Complemento</label>
                              <input type="text" class="form-control" name="DP_Complemento" placeholder="" maxlength="10" value="" tabindex="28" ngModel>
                            </div>
                          </div>
                          <div class="form-group row">


                            <div class="col-lg-4">
                              <label>Estado</label>
                              <!--<select class="form-control" tabindex="31">
                                <option>-Selecione-</option>
                              </select>-->

                              <select class="form-control" name="DP_Endereco_Estado" tabindex="31" [(ngModel)]="EstadoEndereco" (change)="selectedUfEndereco()">
                                <option value="-1">-- Selecione --</option>
                                <option *ngFor="let estadoendereco of listaEstado| orderBy: orderNome" [ngValue]="estadoendereco">{{estadoendereco.nome}}</option>
                              </select>
                            </div>
                            <div class="col-lg-4">
                              <label>Munícipio</label>
                              <select class="form-control" name="DP_Endereco_Cidade" tabindex="31" [(ngModel)]="CidadeEndereco">
                                <option value="-1">-- Selecione --</option>
                                <option *ngFor="let cidadeendereco of listaCidadeEndereco | orderBy: orderNome" [ngValue]="cidadeendereco">{{cidadeendereco.nome}}</option>
                              </select>
                            </div>
                            <div class="col-lg-4">
                              <label>Bairro</label>
                              <!--<select class="form-control" tabindex="29">
                                <option>-Selecione-</option>
                              </select>-->
                              <input type="text" class="form-control" name="DP_Bairro" placeholder="" maxlength="100" value="" tabindex="29" ngModel>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!--end::Portlet 4-->

                    </div>
                  </div>
                </div>
                <!--end: Card 4 -->
                <!--begin: Card 5 -->
                <div class="card">
                  <div class="card-header" id="headinFive1" (click)="onCarregaCamposDadosComplemenares()">
                    <div class="card-title collapsed" data-toggle="collapse" data-target="#collapseFive1" aria-expanded="false" aria-controls="collapseFive1"> <i class="flaticon2-writing"></i>Dados Complementares</div>
                  </div>
                  <div id="collapseFive1" class="collapse" aria-labelledby="headingFive1" data-parent="#accordionExample1">
                    <div class="card-body">

                      <!--begin::Portlet 5 -->
                      <div class="k-portlet">
                        <!--
                        <div class="k-portlet__head">
                            <div class="k-portlet__head-label">
                                <h3 class="k-portlet__head-title">
                                    Dados Complementares
                                </h3>
                            </div>
                        </div>
                        -->
                        <div class="k-portlet__body p-1">
                          <div class="form-group row">
                            <div class="col-lg-3">
                              <label>PIS / PASEP</label>
                              <input type="text" class="form-control  mask_pis" name="DC_PISPASEP" id="DP_PIS" placeholder="" maxlength="15" value="" tabindex="32">
                              <span id="msg_pis" class="form-text text-danger oculta">Informe um PIS válido</span>
                            </div>
                            <div class="col-lg-3">
                              <label>Ocupação</label>
                              <!--<select class="form-control" name="DC_Ocupacao" tabindex="33">
                                <option value="">- Selecione -</option>
                              </select>-->
                              <select class="form-control" name="DC_Ocupacao" tabindex="31" [(ngModel)]="Ocupacao">
                                <option value="-1">-- Selecione --</option>
                                <option *ngFor="let ocupacao of listaOcupacao| orderBy: orderDescricao" [ngValue]="ocupacao">{{ocupacao.descricao}}</option>
                              </select>
                            </div>
                            <div class="col-lg-4">
                              <label>País de Origem (Estrangeiro)</label>
                              <!--<select class="form-control" name="DC_PaisDeOrigem" tabindex="34">
                                <option value="">- Selecione -</option>
                              </select>-->
                              <select class="form-control" name="DC_PaisDeOrigem" tabindex="31" [(ngModel)]="Pais">
                                <option value="-1">-- Selecione --</option>
                                <option *ngFor="let pais of listaPais| orderBy: orderDescricao" [ngValue]="pais">{{pais.descricao}}</option>
                              </select>
                            </div>
                            <div class="col-lg-2">
                              <label>Data de Entrada</label>
                              <input type="text" class="form-control mask_data" name="DC_DataEntrada_Pis" placeholder="do PIS" tabindex="35">
                            </div>
                          </div>

                          <div class="form-group row">
                            <div class="col-lg-2">
                              <label>Tipo de Certidão</label>
                              <!--<select class="form-control" name="DC_TipoCertidao" tabindex="36">
                                <option value=""></option>
                              </select>-->
                              <select class="form-control" name="DC_TipoCertidao" tabindex="36" [(ngModel)]="TipoCertidao">
                                <option value="-1">-- Selecione --</option>
                                <option *ngFor="let tipocertidao of listaTipoCertidao | orderBy: orderDescricao" [ngValue]="tipocertidao">{{tipocertidao.descricao}}</option>
                              </select>
                            </div>
                            <div class="col-lg-2">
                              <label>Nome do Cartório</label>
                              <input type="text" class="form-control" name="DC_NomeDoCartorio" tabindex="36" ngModel>
                            </div>
                            <div class="col-lg-2">
                              <label>Número do Livro</label>
                              <input type="text" class="form-control" name="DC_NumeroDoLivro" tabindex="37" ngModel>
                            </div>
                            <div class="col-lg-2">
                              <label>Número da Folha</label>
                              <input type="text" class="form-control" name="DC_NumeroDaFolha" tabindex="38" ngModel>
                            </div>
                            <div class="col-lg-2">
                              <label>Número do Termo</label>
                              <input type="text" class="form-control" name="DC_NumeroDoTermo" tabindex="39" ngModel>
                            </div>
                            <div class="col-lg-2">
                              <label>Data de Emissão</label>
                              <input type="text" class="form-control mask_data" name="DC_DataEmissao" placeholder="da Certidão" tabindex="40">
                            </div>
                          </div>

                          <div class="form-group row">
                            <div class="col-lg-3">
                              <label>Número CTPS</label>
                              <input type="text" class="form-control" name="DC_NumeroCTPS" value="" tabindex="41" ngModel>
                            </div>
                            <div class="col-lg-3">
                              <label>Série CTPS</label>
                              <input type="text" class="form-control" name="DC_SerieCTPS" value="" tabindex="42" ngModel>
                            </div>
                            <div class="col-lg-4">
                              <label>UF da CTPS</label>
                              <select class="form-control" name="DP_UF_Ctps" tabindex="31" [(ngModel)]="UfCtps">
                                <option value="-1">-- Selecione --</option>
                                <option *ngFor="let ufCtps of listaEstado| orderBy: orderUf" [ngValue]="ufCtps">{{ufCtps.uf}}</option>
                              </select>
                            </div>
                            <div class="col-lg-2">
                              <label>Data de Emissão</label>
                              <input type="text" class="form-control mask_data" name="DC_DataEmissao_Ctps" placeholder="da CTPS" tabindex="44">
                            </div>
                          </div>

                          <div class="form-group row">
                            <div class="col-lg-4">
                              <label>Título Eleitor</label>
                              <input type="text" class="form-control mask_te" name="DC_TituloEleitor" value="" tabindex="45">
                            </div>
                            <div class="col-lg-2">
                              <label>Zona</label>
                              <input type="text" class="form-control" name="DC_Zona" id="DC_Zona" maxlength="10" value="" tabindex="46" ngModel>
                            </div>
                            <div class="col-lg-2">
                              <label>Seção</label>
                              <input type="text" class="form-control" name="DC_Secao" id="DC_Secao" maxlength="10" value="" tabindex="47" ngModel>
                            </div>
                            <div class="col-lg-2">
                              <label class="text-left d-block">Frequenta a Escola?</label>
                              <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                <label class="btn btn-outline-primary" for="FreqEsc1" style="cursor:pointer;">
                                  <input type="radio" name="FrequentaEscola" id="FreqEsc1" autocomplete="off" value="yes" tabindex="48">
                                  Sim
                                </label>
                                <label class="btn btn-outline-primary" for="FreqEsc2" style="cursor:pointer;">
                                  <input type="radio" name="FrequentaEscola" id="FreqEsc2" autocomplete="off" value="no" tabindex="49">
                                  Não
                                </label>
                              </div>
                            </div>
                          </div>

                          <!--
                          <div class="form-group row">
                          </div>
                          -->

                          <div class="form-group row">
                            <div class="col-lg-3">
                              <div class="k-radio-list" id="divEscolaridadeColuna1">
                                <div class="card-title mb-4"> <i class="flaticon-folder-1"></i> Escolaridade</div>


                              </div>
                            </div>

                            <div class="col-lg-3">
                              <div class="k-radio-list mb-4" id="divEscolaridadeColuna2">
                                <div class="card-title mb-3"> &nbsp;<!-- <i class="flaticon-folder-1"></i> Formação --></div>


                              </div>
                            </div>

                            <div class="col-lg-6">
                              <div class="k-radio-list" id="divSituacaoFamiliarConjugal">
                                <div class="card-title mb-4"> <i class="flaticon-users"></i> Situação Familiar / Conjugal</div>

                              </div>
                            </div>

                          </div>

                        </div>
                      </div>
                      <!--end::Portlet 5 -->

                    </div>
                  </div>
                </div>
                <!--end: Card 5 -->


              </div>
              <!--end::Accordion-->
            </div>
            <!--end::Portlet-body -->

          </div>
        </div>
        <!--begin::Portlet Main-->
        <!--begin:: Form Buttons -->
        <div class="k-portlet__foot">
          <div class="k-form__actions">
            <div class="row">
              <div class="col-lg-6">
                <button type="reset" class="btn btn-accent">Biometria</button>
                <button type="button" id="btn_formclear" class="btn btn-metal" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="Limpar Campos do Formulário">Limpar</button>
              </div>

              <div class="col-lg-6 text-right">
                <button type="submit" class="btn btn-primary" tabindex="64">Salvar</button>
                <button type="reset" class="btn btn-metal" tabindex="65">Cancelar</button>
              </div>
            </div>
          </div>
        </div>
        <!--end:: Form Buttons -->

      </form>
      <!--end::Form-->
    </div>
  </div>



</div>
<!-- end:: Content -->
