<!-- begin:: Content -->
<div class="k-content k-grid__item k-grid__item--fluid" id="k_content">
  <div class="row">
    <div class="col-lg-12">

      <!--begin::Form-->
      <form class="clean_on k-form k-form--label-right" #acolhimento="ngForm" (ngSubmit)="onSalvarAcolhimento(acolhimento);" >

        <!--begin: Portlet Main-->
        <div class="k-portlet">
          <!--
            <div class="k-portlet__head">
                <div class="k-portlet__head-label">
                    <h3 class="k-portlet__head-title">
                        Entrada
                    </h3>
                </div>
            </div>
            -->

          <div class="k-portlet__body">

            <div class="form-group row">
              <div class="col-lg-6">
                <label>Nome do Paciente <span class="fld-obg" title="Obrigatório">*</span></label>
                <input type="text" class="form-control maisc" name="IdentificacaoPacienteAcolhimento" maxlength="140" placeholder="CPF, CNS, Nome ou Nome Social" autofocus tabindex="1" (keyup)="onConsultaNome()" ngModel>
                <!--<span class="form-text text-muted">Please enter your full name</span>-->



                <div class="dropdown-menu dropdown-menu-fit dropdown-menu-right dropdown-menu-top-unround dropdown-menu-anim dropdown-menu-lg" x-placement="bottom-end" style="position: absolute; left: 10px;  width: 95%; will-change: transform; top: 65px;" id="divPesquisaNomeAcolhimento">

                  <div class="k-quick-search k-quick-search--dropdown k-quick-search--result-compact k-quick-search--has-result" id="k_quick_search_dropdown">

                    <div class="k-quick-search__wrapper k-scroll ps ps--active-y m-0 p-0" data-scroll="true" data-height="325" data-mobile-height="200" style="overflow: hidden; height: 325px;">

                      <!--begin::k-quick-search__result-->
                      <div class="k-quick-search__result">


                        <div class="k-quick-search__category mt-2 border-bottom text-primary">Pacientes</div>
                        <div class="k-quick-search__section p-0 mb-1" *ngFor="let paciente of listaPessoaPaciente;">
                          <div class="k-quick-search__item">
                            <div class="k-quick-search__item-img k-quick-search__item-img--file">
                              <i class="fa fa-user ml-2" style="font-size:1.5em; color:#999;"></i>
                            </div>
                            <div class="k-quick-search__item-wrapper">
                              <a class="k-quick-search__item-title" style="cursor:pointer;" (click)="onSelectedPaciente(paciente)">
                                {{paciente.nomeCompleto}} {{paciente.nomeSocial !== null? '('+ paciente.nomeSocial +')': ''}}
                                {{paciente.nascimento !== null? '-' : ''}}
                                 {{paciente.nascimento | date: 'dd/MM/yyyy'}}
                              </a>
                              <div class="k-quick-search__item-desc">
                                {{paciente.nomeMae}}
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>


              </div>
              <div class="col-lg-6">
                <label>Nome Social</label>
                <input type="text" class="form-control maisc" name="NomeSocial" maxlength="140" value="" tabindex="2" (focus)="onFechaPesquisa()" ngModel>
                <!--<span class="form-text text-muted">Please enter your full name</span>-->
              </div>
            </div>

            <div class="form-group row">
              <div class="col-lg-6">
                <label>Especialidade <span class="fld-obg" title="Obrigatório">*</span></label>
                <!--<select class="form-control" name="Especialidade" tabindex="3">
      <option>- Selecione -</option>
      <option value="">Clínica Médica</option>
      <option value="">Pediatria</option>
      <option value="">Serviço Social</option>
      <option value="">Ginecologia</option>
      <option value="">Odontologia</option>
    </select>-->
                <!--<span class="form-text text-muted">Please enter your full name</span>-->

                <select class="form-control" name="Especialidade" tabindex="13" [(ngModel)]="Especialidade">
                  <option value="-1">-- Selecione --</option>
                  <option *ngFor="let especialidade of listaEspecialidade| orderBy: orderDescricao" [ngValue]="especialidade">{{especialidade.descricao}}</option>
                </select>
              </div>


              <!--<div class="col-lg-3 mt-5">
    <label class="text-left d-block">Preferencial</label>
    <div class="btn-group btn-group-toggle" data-toggle="buttons">
      <label class="btn btn-outline-info cp clear" *ngFor="let preferencial of listaPreferencial | orderBy: orderNome" >
        <input type="radio" name="preferencial"  [value]={{preferencial.codigo}}> <i class="fab fa-accessible-icon fa-fw"></i>
      </label>
    </div>
  </div>-->



              <div class="col-lg-3">
                <label class="text-left d-block">Preferencial</label>
                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                  <label class="btn btn-outline-info cp clear rounded-left" id="deficiente" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="Deficiente Físico">
                    <input type="radio" name="Preferencial" autocomplete="off" value="1" tabindex="">
                    <!--<i class="fab fa-accessible-icon fa-fw" style="font-size: 1.4em;"></i>-->
                    <img src="../assets/media/icons/icon-prioridade-pregnant.svg" class="svg fill deficiente">
                  </label>

                  <label class="btn btn-outline-info cp clear" id="gestante" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="Gestante">
                    <input type="radio" name="Preferencial" autocomplete="off" value="2" tabindex="">
                    <img src="../assets/media/icons/icon-prioridade-pregnant.svg" class="svg fill gestante">
                  </label>

                  <label class="btn btn-outline-info cp clear" id="idoso-a" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="Pessoa com idade entre 60 e 79 anos">
                    <input type="radio" name="Preferencial" autocomplete="off" value="3" tabindex="">
                    <img src="../assets/media/icons/icon-prioridade-elderly-60.svg" class="svg fill idoso-a">
                  </label>

                  <label class="btn btn-outline-info cp clear" id="idoso-b" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="Pessoa acima de 80 anos">
                    <input type="radio" name="Preferencial" autocomplete="off" value="4" tabindex="">
                    <img src="../assets/media/icons/icon-prioridade-elderly-80.svg" class="svg fill idoso-b">
                  </label>
                </div>
                <!--<span class="form-text text-muted">Please enter your full name</span>-->
              </div>


              <div class="col-lg-3">
                <label>&nbsp;</label>
                <div class="k-checkbox-list mt-2">
                  <label class="k-checkbox k-checkbox--brand" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="Pacientes definidos com Risco terão prioridade acima dos demais">
                    <input type="checkbox" name="PacienteRisco">Paciente em Risco<span></span>
                  </label>
                </div>
              </div>
            </div>

          </div>
          <!--end::Portlet-body -->

        </div>
        <!--end::Portlet Main-->
        <!--begin: Portlet Main : Avaliação de Sinais Vitais -->
        <div class="k-portlet">
          <div class="k-portlet__head">
            <div class="k-portlet__head-label">
              <h3 class="k-portlet__head-title">
                Avaliações de Sinais Vitais
              </h3>
            </div>
          </div>

          <div class="k-portlet__body">
            <div class="form-group row mb-0 pb-0">

              <div class="col-lg-6">
                <label>Peso, Altura, IMC</label>
                <div class="input-group-lg">
                  <div class="input-group-prepend">
                    <input type="text" class="form-control sn w-25" name="Peso" maxlength="5" placeholder="(kg)" (blur)="onCalculaImc()" ngModel>
                    <input type="text" class="form-control sn w-25" name="Altura" maxlength="4" placeholder="(cm)" (blur)="onCalculaImc()" ngModel>
                    <input type="text" class="form-control ch w-100" name="IMC"  placeholder="IMC" data-content="" data-toggle="popover" data-placement="top" data-trigger="hover" style="background:#E9E8E8;" readonly ngModel>
                  </div>
                  <div class="form-text text-danger" style="height:15px !important;"><span class="oculta">Message Error</span></div>
                </div>
              </div>
              <div class="col-lg-2">
                <label>Temperatura (&deg;C)</label>
                <input type="number" class="form-control" name="SV_Temperatura"  pattern="[0-9]+([\.,][0-9]+)?" step="0.01" maxlength="3" (blur)="onValidaTemperatura()" ngModel>
                <span class="form-text text-info oculta cm" id="msg_temp_acolhimento_a"  >Indicado valores entre 35º à 40º</span>
                <span class="form-text text-danger oculta cm" id="msg_temp_acolhimento_b">Não permitido menor que 33º e maior que 45º</span>
              </div>
              <div class="col-lg-2">
                <label>Saturação O2 (%)</label>
                <input type="number" class="form-control" name="SV_Saturacao" pattern="[0-9]+([\.,][0-9]+)?" step="0.01" maxlength="3" (blur)="onValidaSaturacao()" ngModel>
                <span class="form-text text-info oculta cm" id="msg_sat_acolhimento_a">Indicado valor acima de 85%</span>
                <span class="form-text text-danger oculta cm" id="msg_sat_acolhimento_b">Não permitido maior que 100%</span>
              </div>
              <div class="col-lg-2">
                <label>Freq. Resp. (rpm)</label>
                <input type="number" class="form-control" name="SV_FreqResp" pattern="[0-9]+([\.,][0-9]+)?" step="0.1" maxlength="2" (blur)="onValidaFreqResp()" ngModel>
                <span class="form-text text-info oculta cm" id="msg_freqResp_acolhimento_a">Indicado valores entre 12 e 60 (rpm)</span>
                <span class="form-text text-danger oculta cm" id="msg_freqResp_acolhimento_b">Não permitido menor que 10 e maior que 66</span>
              </div>
            </div>

            <div class="form-group row mb-0 pb-0">

              <div class="col-lg-4 col-md-12">
                <label>Pressão Arterial</label>
                <div class="input-group-lg">
                  <div class="input-group-prepend">
                    <input type="number" class="form-control" name="SV_PressaoArterial_Sistolica" pattern="[0-9]+([\.,][0-9]+)?" step="0.01" maxlength="3" placeholder="Sistólica" (blur)="onValidaPresSistolica()" ngModel>
                    <input type="number" class="form-control" name="SV_PressaoArterial_Diastolica"  pattern="[0-9]+([\.,][0-9]+)?" step="0.01" maxlength="3" placeholder="Diastólica" (blur)="onValidaPresDiastolica()" ngModel>
                  </div>
                </div>
                <span class="form-text text-info oculta cm" id="msg_pressaosistolica_acolhimento_a"><b>Sistólica:</b> Indicado valores entre 60 à 180</span>
                <span class="form-text text-danger oculta cm" id="msg_pressaosistolica_acolhimento_b"><b>Sistólica:</b> Não permitido menor que 50 e maior que 250</span>

                <span class="form-text text-info oculta cm" id="msg_pressaodiastolica_acolhimento_a"><b>Diastólica:</b> Indicado valores entre 30 à 110</span>
                <span class="form-text text-danger oculta cm" id="msg_pressaodiastolica_acolhimento_b"><b>Diastólica:</b> Não permitido menor que 20 e maior que 160</span>
              </div>

              <div class="col-lg-2">
                <label>Pulso (bpm)</label>
                <input type="number" class="form-control" name="SV_Pulso" pattern="[0-9]+([\.,][0-9]+)?" step="0.01" maxlength="3" (blur)="onValidaPulso()" ngModel>
                <span class="form-text text-info oculta cm" id="msg_pulso_acolhimento_a">Indicado valores entre 60 à 120</span>
                <span class="form-text text-danger oculta cm" id="msg_pulso_acolhimento_b">Não permitido menor que 40 e maior que 150</span>
              </div>

            </div>

            <div class="form-group row mb-0 pb-0 pt-4">
              <div class="col-lg-4">
                <button type="button" class="btn btn-sm btn-accent m-0" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="Capturar Sinais Vitais"><i class="fa fa-heartbeat"></i> Capturar</button>
              </div>
            </div>
          </div>
          <!--end::Portlet-body -->

        </div>
        <!--begin::Portlet Main-->
        <!--begin:: Form Buttons -->
        <div class="k-portlet__foot">
          <div class="k-form__actions">
            <div class="row">
              <div class="col-lg-6">
                <!--<button type="button" class="btn btn-accent">Biometria</button>-->
                <button type="submit" class="btn btn-metal" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="Limpar Campos do Formulário" (click)="onLimpaFormAcolhimento(acolhimento)">Limpar</button>
              </div>
              <div class="col-lg-6 text-right">
                <button type="submit" class="btn btn-primary">Salvar</button>
                <button type="reset" class="btn btn-metal">Cancelar</button>
              </div>
            </div>
          </div>
        </div>
        <!--end:: Form Buttons -->

      </form>
      <!--end::Form-->
    </div>
  </div>

</div>
<!-- end:: Content -->
