<!-- begin:: Content -->
<div class="k-content k-grid__item k-grid__item--fluid" id="k_content">
  <div class="row">
    <div class="col-lg-12">

      <!--begin::Form-->
      <form class="clean_on k-form k-form--label-right" #acolhimento="ngForm" (ngSubmit)="onSalvarAcolhimento(acolhimento);" >

        <!--begin: Portlet Main-->
        <div class="k-portlet">
          <!--
            <div class="k-portlet__head">
                <div class="k-portlet__head-label">
                    <h3 class="k-portlet__head-title">
                        Entrada
                    </h3>
                </div>
            </div>
            -->

          <div class="k-portlet__body">

            <div class="form-group row">
              <div class="col-lg-6">
                <label>Nome do Paciente <span class="fld-obg" title="Obrigatório">*</span></label>
                <input type="text" class="form-control maisc" name="IdentificacaoPaciente" maxlength="140" placeholder="CPF, CNS, Nome ou Nome Social" value="" tabindex="1" ngModel>
                <!--<span class="form-text text-muted">Please enter your full name</span>-->
              </div>
              <div class="col-lg-6">
                <label>Nome Social</label>
                <input type="text" class="form-control maisc" name="NomeSocial" maxlength="140" value="" tabindex="2" ngModel>
                <!--<span class="form-text text-muted">Please enter your full name</span>-->
              </div>
            </div>

            <div class="form-group row">
              <div class="col-lg-6">
                <label>Especialidade <span class="fld-obg" title="Obrigatório">*</span></label>
                <!--<select class="form-control" name="Especialidade" tabindex="3">
      <option>- Selecione -</option>
      <option value="">Clínica Médica</option>
      <option value="">Pediatria</option>
      <option value="">Serviço Social</option>
      <option value="">Ginecologia</option>
      <option value="">Odontologia</option>
    </select>-->
                <!--<span class="form-text text-muted">Please enter your full name</span>-->

                <select class="form-control" name="Especialidade" tabindex="13" [(ngModel)]="Especialidade">
                  <option value="-1">-- Selecione --</option>
                  <option *ngFor="let especialidade of listaEspecialidade| orderBy: orderDescricao" [ngValue]="especialidade">{{especialidade.descricao}}</option>
                </select>
              </div>


              <!--<div class="col-lg-3 mt-5">
    <label class="text-left d-block">Preferencial</label>
    <div class="btn-group btn-group-toggle" data-toggle="buttons">
      <label class="btn btn-outline-info cp clear" *ngFor="let preferencial of listaPreferencial | orderBy: orderNome" >
        <input type="radio" name="preferencial"  [value]={{preferencial.codigo}}> <i class="fab fa-accessible-icon fa-fw"></i>
      </label>
    </div>
  </div>-->

              <div class="col-lg-3">
                <label class="text-left d-block">Preferencial</label>
                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                  <label class="btn btn-outline-info cp clear" for="Cadeirante" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="Cadeirante">
                    <input type="radio" name="Preferencial" autocomplete="off" value="" tabindex="">
                    <i class="fab fa-accessible-icon fa-fw"></i>
                  </label>
                  <label class="btn btn-outline-info cp clear" for="Gestante" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="Gestante">
                    <input type="radio" name="Preferencial" autocomplete="off" value="" tabindex="">
                    <i class="fab fa-accessible-icon fa-fw"></i>
                  </label>
                  <label class="btn btn-outline-info cp clear" for="Idoso60" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="Idoso acima de 60 anos">
                    <input type="radio" name="Preferencial" autocomplete="off" value="" tabindex="">
                    <i class="fab fa-accessible-icon fa-fw"></i>
                  </label>
                  <label class="btn btn-outline-info cp clear" for="Idoso80" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="Idoso acima de 80 anos">
                    <input type="radio" name="Preferencial" autocomplete="off" value="" tabindex="">
                    <i class="fab fa-accessible-icon fa-fw"></i>
                  </label>
                </div>
                <!--<span class="form-text text-muted">Please enter your full name</span>-->
              </div>

              <div class="col-lg-3">
                <label>&nbsp;</label>
                <div class="k-checkbox-list mt-2">
                  <label class="k-checkbox k-checkbox--brand">
                    <input type="checkbox" name="PacienteRisco">Paciente em Risco<span></span>
                  </label>
                </div>
              </div>
            </div>

          </div>
          <!--end::Portlet-body -->

        </div>
        <!--end::Portlet Main-->
        <!--begin: Portlet Main : Avaliação de Sinais Vitais -->
        <div class="k-portlet">
          <div class="k-portlet__head">
            <div class="k-portlet__head-label">
              <h3 class="k-portlet__head-title">
                Avaliações de Sinais Vitais
              </h3>
            </div>
          </div>

          <div class="k-portlet__body">
            <div class="form-group row mb-0 pb-0">

              <div class="col-lg-6">
                <label>Peso, Altura, IMC</label>
                <div class="input-group-lg">
                  <div class="input-group-prepend">
                    <input type="text" class="form-control sn w-25" name="SV_Peso" id="SV_Peso" maxlength="3" placeholder="(kg)"  ngModel>
                    <input type="text" class="form-control sn w-25" name="SV_Altura" id="SV_Altura" maxlength="3" placeholder="(cm)" ngModel>
                    <input type="text" class="form-control ch w-100" name="SV_IMC" id="SV_IMC" placeholder="IMC" data-content="" data-toggle="popover" data-placement="top" data-trigger="hover" style="background:#E9E8E8;" readonly ngModel>
                  </div>
                  <div class="form-text text-danger" style="height:15px !important;"><span class="oculta">Message Error</span></div>
                </div>
              </div>
              <div class="col-lg-2">
                <label>Temperatura (&deg;C)</label>
                <input type="text" class="form-control" name="SV_Temperatura" id="SV_Temperatura" maxlength="3" ngModel>
                <span class="form-text text-info oculta cm" id="msg_temp_a">Indicado valores entre 35º à 40º</span>
                <span class="form-text text-danger oculta cm" id="msg_temp_b">Não permitido menor que 33º e maior que 45º</span>
              </div>
              <div class="col-lg-2">
                <label>Saturação O2 (%)</label>
                <input type="text" class="form-control" name="SV_Saturacao" id="SV_Saturacao" maxlength="3" ngModel>
                <span class="form-text text-info oculta cm" id="msg_sat_a">Indicado valor acima de 85%</span>
                <span class="form-text text-danger oculta cm" id="msg_sat_b">Não permitido maior que 100%</span>
              </div>
              <div class="col-lg-2">
                <label>Freq. Resp. (rpm)</label>
                <input type="text" class="form-control sn" name="SV_FreqResp" id="SV_FreqResp" maxlength="2" ngModel>
                <span class="form-text text-info oculta cm" id="msg_freqresp_a">Indicado valores entre 12 e 60 (rpm)</span>
                <span class="form-text text-danger oculta cm" id="msg_freqresp_b">Não permitido menor que 10 e maior que 66</span>
              </div>
            </div>

            <div class="form-group row mb-0 pb-0">

              <div class="col-lg-4 col-md-12">
                <label>Pressão Arterial</label>
                <div class="input-group-lg">
                  <div class="input-group-prepend">
                    <input type="text" class="form-control sn" name="SV_PressaoArterial_Sistolica" id="SV_PressaoArterial_Sistolica" maxlength="3" placeholder="Sistólica" ngModel>
                    <input type="text" class="form-control sn" name="SV_PressaoArterial_Diastolica" id="SV_PressaoArterial_Diastolica" maxlength="3" placeholder="Diastólica" ngModel>
                  </div>
                </div>
                <span class="form-text text-info oculta cm" id="msg_pa1_a"><b>Sistólica:</b> Indicado valores entre 60 à 180</span>
                <span class="form-text text-danger oculta cm" id="msg_pa1_b"><b>Sistólica:</b> Não permitido menor que 50 e maior que 250</span>

                <span class="form-text text-info oculta cm" id="msg_pa2_a"><b>Diastólica:</b> Indicado valores entre 30 à 110</span>
                <span class="form-text text-danger oculta cm" id="msg_pa2_b"><b>Diastólica:</b> Não permitido menor que 20 e maior que 160</span>
              </div>

              <div class="col-lg-2">
                <label>Pulso (bpm)</label>
                <input type="text" class="form-control sn" name="SV_Pulso" id="SV_Pulso" maxlength="3" ngModel>
                <span class="form-text text-info oculta cm" id="msg_pulso_a">Indicado valores entre 60 à 120</span>
                <span class="form-text text-danger oculta cm" id="msg_pulso_b">Não permitido menor que 40 e maior que 150</span>
              </div>
            </div>

            <div class="form-group row mb-0 pb-0 pt-4">
              <div class="col-lg-4">
                <button type="button" class="btn btn-sm btn-accent m-0" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="Capturar Sinais Vitais"><i class="fa fa-heartbeat"></i> Capturar</button>
              </div>
            </div>
          </div>
          <!--end::Portlet-body -->

        </div>
        <!--begin::Portlet Main-->
        <!--begin:: Form Buttons -->
        <div class="k-portlet__foot">
          <div class="k-form__actions">
            <div class="row">
              <div class="col-lg-6">
                <!--<button type="button" class="btn btn-accent">Biometria</button>-->
                <button type="button" class="btn btn-metal" id="btn_formclear" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="Limpar Campos do Formulário">Limpar</button>
              </div>
              <div class="col-lg-6 text-right">
                <button type="submit" class="btn btn-primary">Salvar</button>
                <button type="reset" class="btn btn-metal">Cancelar</button>
              </div>
            </div>
          </div>
        </div>
        <!--end:: Form Buttons -->

      </form>
      <!--end::Form-->
    </div>
  </div>

</div>
<!-- end:: Content -->
