

<div id="k_header_mobile" class="k-header-mobile k-header-mobile--fixed ">
  <div class="k-header-mobile__logo">
    <a href="../classic/default/index.html">
      <img alt="Logo" src="../assets/media/logos/logo-6.png" />
    </a>
  </div>
  <div class="k-header-mobile__toolbar">
    <button class="k-header-mobile__toolbar-toggler k-header-mobile__toolbar-toggler--left" id="k_aside_mobile_toggler"><span></span></button>
    <button class="k-header-mobile__toolbar-toggler" id="k_header_mobile_toggler"><span></span></button>
    <button class="k-header-mobile__toolbar-topbar-toggler" id="k_header_mobile_topbar_toggler"><i class="flaticon-more"></i></button>
  </div>
</div>
<!-- end:: Header Mobile -->
<!-- begin:: Root -->
<div class="k-grid k-grid--hor k-grid--root">
  <!-- begin:: Page -->
  <div class="k-grid__item k-grid__item--fluid k-grid k-grid--ver k-page">
    <!-- begin:: Aside -->
    <button class="k-aside-close " id="k_aside_close_btn"><i class="la la-close"></i></button>

    <div class="k-aside k-aside--fixed k-grid__item k-grid k-grid--desktop k-grid--hor-desktop" id="k_aside" [@changeDivSize]=currentStateMenu (mouseenter)="changeStateHover()">
      <!-- begin::Aside Brand -->
      <div class="k-aside__brand k-grid__item " id="k_aside_brand">
        <div class="k-aside__brand-logo">
          <a href="javascript:void(0);">
            <img alt="Logo" src="../assets/media/logos/logo-klinikos-txt.png">
          </a>
        </div>
        <div class="k-aside__brand-tools">
          <button class="k-aside__brand-aside-toggler k-aside__brand-aside-toggler--left" id="k_aside_toggler" (click)="changeState()"><span></span></button>
        </div>
      </div>
      <!-- end:: Aside Brand -->
      <!-- begin:: Aside Menu [@changeDivSizeMaster]=currentStateMaster-->
      <div class="k-aside-menu-wrapper k-grid__item k-grid__item--fluid" id="k_aside_menu_wrapper">
        <div id="k_aside_menu" class="k-aside-menu " data-kmenu-vertical="1" data-kmenu-scroll="1" data-kmenu-dropdown-timeout="500">
          <ul class="k-menu__nav ">
            <li class="k-menu__item k-menu__item--submenu k-menu__item--open k-menu__item--here" aria-haspopup="true" data-kmenu-submenu-toggle="hover">
              <a href="javascript:void(0);" class="k-menu__link k-menu__toggle"><i class="k-menu__link-icon flaticon2-graphic"></i><span class="k-menu__link-text">Recepção e Portaria</span><i class="k-menu__ver-arrow la la-angle-right"></i></a>
              <div class="k-menu__submenu ">
                <span class="k-menu__arrow"></span>
                <ul class="k-menu__subnav">
                  <li class="k-menu__item k-menu__item--parent" aria-haspopup="true">
                    <span class="k-menu__link"><span class="k-menu__link-text">Recepção</span></span>
                  </li>
                  <li class="k-menu__item k-menu__item--active" aria-haspopup="true">
                    <a href="#" class="k-menu__link ">
                      <i class="k-menu__link-bullet k-menu__link-bullet--dot"><span></span></i>
                      <span class="k-menu__link-text">Cadastro</span>
                    </a>
                  </li>
                  <li class="k-menu__item k-menu__item" aria-haspopup="true">
                    <a href="#" class="k-menu__link ">
                      <i class="k-menu__link-bullet k-menu__link-bullet--dot"><span></span></i>
                      <span class="k-menu__link-text">Acolhimento</span>
                    </a>
                  </li>
                  <li class="k-menu__item" aria-haspopup="true">
                    <a href="#" class="k-menu__link ">
                      <i class="k-menu__link-bullet k-menu__link-bullet--dot"><span></span></i>
                      <span class="k-menu__link-text">Pesquisa de Pacientes</span>
                    </a>
                  </li>

                </ul>
              </div>
            </li>
            <li class="k-menu__item " aria-haspopup="true">
              <a target="_blank" href="#" class="k-menu__link "><i class="k-menu__link-icon flaticon2-gear"></i><span class="k-menu__link-text">Ambulatório</span></a>
            </li>
            <li class="k-menu__item " aria-haspopup="true">
              <a target="_blank" href="#" class="k-menu__link "><i class="k-menu__link-icon flaticon2-gear"></i><span class="k-menu__link-text">Urgência e Emergência</span></a>
            </li>
            <li class="k-menu__item " aria-haspopup="true">
              <a target="_blank" href="#" class="k-menu__link "><i class="k-menu__link-icon flaticon2-gear"></i><span class="k-menu__link-text">Laboratório</span></a>
            </li>
          </ul>
        </div>
      </div>
      <!-- end:: Aside Menu -->
      <!-- begin:: Aside Footer -->
      <div class="k-aside__footer k-grid__item" id="k_aside_footer">
        <div class="k-aside__footer-nav">
          <div class="k-aside__footer-item">
            <a href="#" class="btn btn-icon"><i class="flaticon2-gear"></i></a>
          </div>
          <div class="k-aside__footer-item">
            <a href="#" class="btn btn-icon"><i class="flaticon2-cube"></i></a>
          </div>
          <div class="k-aside__footer-item">
            <a href="#" class="btn btn-icon"><i class="flaticon2-bell-alarm-symbol"></i></a>
          </div>
          <div class="k-aside__footer-item">
            <button type="button" class="btn btn-icon" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="flaticon2-add"></i> </button>
            <div class="dropdown-menu dropdown-menu-left">
              <ul class="k-nav">
                <li class="k-nav__section k-nav__section--first"> <span class="k-nav__section-text">Export Tools</span> </li>
                <li class="k-nav__item">
                  <a href="#" class="k-nav__link"> <i class="k-nav__link-icon la la-print"></i> <span class="k-nav__link-text">Print</span> </a>
                </li>
                <li class="k-nav__item">
                  <a href="#" class="k-nav__link"> <i class="k-nav__link-icon la la-copy"></i> <span class="k-nav__link-text">Copy</span> </a>
                </li>
                <li class="k-nav__item">
                  <a href="#" class="k-nav__link"> <i class="k-nav__link-icon la la-file-excel-o"></i> <span class="k-nav__link-text">Excel</span> </a>
                </li>
                <li class="k-nav__item">
                  <a href="#" class="k-nav__link"> <i class="k-nav__link-icon la la-file-text-o"></i> <span class="k-nav__link-text">CSV</span> </a>
                </li>
                <li class="k-nav__item">
                  <a href="#" class="k-nav__link"> <i class="k-nav__link-icon la la-file-pdf-o"></i> <span class="k-nav__link-text">PDF</span> </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="k-aside__footer-item">
            <a href="#" class="btn btn-icon"><i class="flaticon2-calendar-2"></i></a>
          </div>
        </div>
      </div>
      <!-- end:: Aside Footer-->
    </div>

    <!-- end:: Aside -->
    <!-- begin:: Wrapper -->
    <div class="k-grid__item k-grid__item--fluid k-grid k-grid--hor k-wrapper" id="k_wrapper">
      <!-- begin:: Header -->
      <div id="k_header" class="k-header k-grid__item k-header--fixed">
        <!-- begin:: Header Menu -->
        <button class="k-header-menu-wrapper-close" id="k_header_menu_mobile_close_btn"><i class="la la-close"></i></button>




        <style type="text/css">
          /*=Dados do Paciente (Barra Superior) -------------------- */
          .bs-avatar {
            width: 70px;
            /*background: #069 !important;*/
            float: left;
          }

            .bs-avatar img {
              width: 65px !important;
              height: 65px !important;
              border-radius: 100%;
              background: #666;
              color: #fff !important;
            }

              .bs-avatar img:hover {
                filter: brightness(1.1);
                cursor: pointer;
              }

          .bs-nomes {
            /*background: #53F5B6;*/
            float: left;
          }

            .bs-nomes .maior {
              font-family: Poppins;
              font-weight: 400;
              font-size: 1.3em;
              color: #000;
              /*background: #CCC;*/
            }

            .bs-nomes .menor {
              font-family: Poppins;
              font-weight: 400;
              font-size: 0.9em;
              color: #333;
            }

          .bs-icones {
            float: left;
            /*background: #FDC2C2;*/
          }

            .bs-icones .idade {
              font-size: 2.4em;
              font-weight: 400;
            }

            .bs-icones .sexo {
              font-size: 2em;
              float: left;
              cursor: help;
            }

          .bs-infopac {
            float: left;
            color: #666;
          }

            .bs-infopac span {
              display: block !important;
              font-size: 0.9rem;
              font-weight: 300;
              /*background: #F7B275;*/
            }

            .bs-infopac i:nth-child(1):hover {
              cursor: pointer;
              color: #6AB752;
            }

            .bs-infopac i:nth-child(2):hover {
              cursor: pointer;
              color: #51AA8E;
            }
        </style>


        <!-- begin:: Dados do Paciente -->
        <div class="k-header-menu-wrapper" id="k_header_menu_wrapper">
          <!-- <div id="k_header_menu" class="k-header-menu k-header-menu-mobile k-header-menu--layout-"></div> -->

          <div class="bs-avatar mr-2 ml-2">
            <img src="../../assets/media/users/default.jpg" title="Dados do Paciente" class="m-1" alt="avatar" id="imgAvatar">
          </div>
          <div class="bs-nomes">
            <span class="maior d-block mt-3 mr-2 mb-0 ml-2" id="nomePaciente">Nome Social</span>
            <span class="menor d-block ml-2 mr-2" id="nomeCompletoPaciente">Nome completo do paciente</span>
          </div>
          <div class="bs-icones">
            <span class="idade mt-2 pl-2 p-0 d-block float-left border-left" id="idade">00</span>
            <span class="sexo mt-3 d-block text-primary"><i class="fa fa-female fa-fw" title="Feminino"></i></span>
          </div>

          <div class="bs-infopac mt-3 ml-2 pr-3 border-right">
            <span><strong>Código: </strong>000000000000</span>
            <span><strong>Prontuário: </strong>000000</span>
          </div>
          <div class="bs-infopac mt-3 ml-2 pl-2">
            <span id="cns"><strong>CNS: </strong>0000000000000</span>
            <span><strong>Boletim: </strong>000000</span>
          </div>

          <div class="bs-infopac mt-3 ml-2 pt-1 pl-3 border-left">
            <!-- <label class="d-block">Sinais Vitais</label> -->
            <i class="fa fa-heartbeat fa-2x mr-2" title="Sinais Vitais"></i>
            <i class="fa fa-clipboard-list fa-2x" title="Lista de Atendimentos"></i>
          </div>

        </div>
        <!-- end:: Dados do Paciente -->
        <!-- end:: Header Menu -->
        <!-- begin:: Header Topbar -->
        <div class="k-header__topbar">
          <!--begin: Search -->
          <div class="k-header__topbar-item k-header__topbar-item--search dropdown">
            <div class="k-header__topbar-wrapper" data-toggle="dropdown" data-offset="10px,0">
              <span class="k-header__topbar-icon"><i class="flaticon2-search-1"></i></span>
            </div>
            <div class="dropdown-menu dropdown-menu-fit dropdown-menu-right dropdown-menu-top-unround dropdown-menu-anim dropdown-menu-lg">
              <div class="k-quick-search k-quick-search--dropdown k-quick-search--result-compact" id="k_quick_search_dropdown1">
                <!--<form>-->
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="flaticon2-search-1"></i></span>
                  </div>
                  <input type="text" class="form-control k-quick-search__input" placeholder="Search..." name="DP_NomeCompleto_PesquisaGeral" (keyup)="onConsultaNome()">




                  <div class="dropdown-menu dropdown-menu-fit dropdown-menu-right dropdown-menu-top-unround dropdown-menu-anim dropdown-menu-lg" x-placement="bottom-end" style="position: absolute; left: 10px;  width: 95%; will-change: transform; top: 65px;" id="divPesquisaNome">

                    <div class="k-quick-search k-quick-search--dropdown k-quick-search--result-compact k-quick-search--has-result" id="k_quick_search_dropdown">

                      <div class="k-quick-search__wrapper k-scroll ps ps--active-y m-0 p-0" data-scroll="true" data-height="325" data-mobile-height="200" style="overflow: hidden; height: 325px;">

                        <!--begin::k-quick-search__result-->
                        <div class="k-quick-search__result">


                          <div class="k-quick-search__category mt-2 border-bottom text-primary">Pacientes</div>
                          <div class="k-quick-search__section p-0 mb-1" *ngFor="let paciente of listaPessoaPaciente;">
                            <div class="k-quick-search__item">
                              <div class="k-quick-search__item-img k-quick-search__item-img--file">
                                <i class="fa fa-user ml-2" style="font-size:1.5em; color:#999;"></i>
                              </div>
                              <div class="k-quick-search__item-wrapper">
                                <a class="k-quick-search__item-title" style="cursor:pointer;" (click)="onSelectedPaciente(paciente)">
                                  {{paciente.nomeCompleto}}  - {{paciente.nascimento | date: 'dd/MM/yyyy'}}
                                </a>
                                <div class="k-quick-search__item-desc">
                                  {{paciente.nomeMae}}
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>







                  <!--<div class="input-group-append">
                    <span class="input-group-text"><i class="la la-close k-quick-search__close"></i></span>
                  </div>-->
                </div>
                <!--</form>-->
                <!--<div class="k-quick-search__wrapper k-scroll" data-scroll="true" data-height="325" data-mobile-height="200"></div>-->
              </div>
            </div>
          </div>
          <!--end: Search -->
          <!--begin: Notifications -->
          <div class="k-header__topbar-item dropdown">
            <div class="k-header__topbar-wrapper" data-toggle="dropdown" data-offset="30px -2px" aria-expanded="true">
              <span class="k-header__topbar-icon"> <i class="flaticon2-bell-alarm-symbol"></i> <span class="k-badge k-badge--dot k-badge--notify k-badge--sm k-badge--brand"></span> </span>
            </div>
            <div class="dropdown-menu dropdown-menu-fit dropdown-menu-right dropdown-menu-anim dropdown-menu-top-unround dropdown-menu-lg">
              <form>
                <div class="k-head" style="background-image: url(../assets/media/misc/head_bg_sm.jpg)">
                  <h3 class="k-head__title">
                    User Notifications
                  </h3>
                  <div class="k-head__sub"><span class="k-head__desc">23 new notifications</span></div>
                </div>
                <div class="k-notification k-margin-t-30 k-margin-b-20 k-scroll" data-scroll="true" data-height="270" data-mobile-height="220">
                  <a href="#" class="k-notification__item">
                    <div class="k-notification__item-icon"> <i class="flaticon2-line-chart k-font-success"></i> </div>
                    <div class="k-notification__item-details">
                      <div class="k-notification__item-title"> New order has been received </div>
                      <div class="k-notification__item-time"> 2 hrs ago </div>
                    </div>
                  </a>
                  <a href="#" class="k-notification__item">
                    <div class="k-notification__item-icon"> <i class="flaticon2-box-1 k-font-brand"></i> </div>
                    <div class="k-notification__item-details">
                      <div class="k-notification__item-title"> New customer is registered </div>
                      <div class="k-notification__item-time"> 3 hrs ago </div>
                    </div>
                  </a>
                  <a href="#" class="k-notification__item">
                    <div class="k-notification__item-icon"> <i class="flaticon2-chart2 k-font-danger"></i> </div>
                    <div class="k-notification__item-details">
                      <div class="k-notification__item-title"> Application has been approved </div>
                      <div class="k-notification__item-time"> 3 hrs ago </div>
                    </div>
                  </a>
                  <a href="#" class="k-notification__item">
                    <div class="k-notification__item-icon"> <i class="flaticon2-image-file k-font-warning"></i> </div>
                    <div class="k-notification__item-details">
                      <div class="k-notification__item-title"> New file has been uploaded </div>
                      <div class="k-notification__item-time"> 5 hrs ago </div>
                    </div>
                  </a>
                  <a href="#" class="k-notification__item">
                    <div class="k-notification__item-icon"> <i class="flaticon2-bar-chart k-font-info"></i> </div>
                    <div class="k-notification__item-details">
                      <div class="k-notification__item-title"> New user feedback received </div>
                      <div class="k-notification__item-time"> 8 hrs ago </div>
                    </div>
                  </a>
                  <a href="#" class="k-notification__item">
                    <div class="k-notification__item-icon"> <i class="flaticon2-pie-chart-2 k-font-success"></i> </div>
                    <div class="k-notification__item-details">
                      <div class="k-notification__item-title"> System reboot has been successfully completed </div>
                      <div class="k-notification__item-time"> 12 hrs ago </div>
                    </div>
                  </a>
                  <a href="#" class="k-notification__item">
                    <div class="k-notification__item-icon"> <i class="flaticon2-favourite k-font-focus"></i> </div>
                    <div class="k-notification__item-details">
                      <div class="k-notification__item-title"> New order has been placed </div>
                      <div class="k-notification__item-time"> 15 hrs ago </div>
                    </div>
                  </a>
                  <a href="#" class="k-notification__item k-notification__item--read">
                    <div class="k-notification__item-icon"> <i class="flaticon2-safe k-font-primary"></i> </div>
                    <div class="k-notification__item-details">
                      <div class="k-notification__item-title"> Company meeting canceled </div>
                      <div class="k-notification__item-time"> 19 hrs ago </div>
                    </div>
                  </a>
                  <a href="#" class="k-notification__item">
                    <div class="k-notification__item-icon"> <i class="flaticon2-psd k-font-success"></i> </div>
                    <div class="k-notification__item-details">
                      <div class="k-notification__item-title"> New report has been received </div>
                      <div class="k-notification__item-time"> 23 hrs ago </div>
                    </div>
                  </a>
                  <a href="#" class="k-notification__item">
                    <div class="k-notification__item-icon"> <i class="flaticon-download-1 k-font-danger"></i> </div>
                    <div class="k-notification__item-details">
                      <div class="k-notification__item-title"> Finance report has been generated </div>
                      <div class="k-notification__item-time"> 25 hrs ago </div>
                    </div>
                  </a>
                  <a href="#" class="k-notification__item">
                    <div class="k-notification__item-icon"> <i class="flaticon-security k-font-warning"></i> </div>
                    <div class="k-notification__item-details">
                      <div class="k-notification__item-title"> New customer comment recieved </div>
                      <div class="k-notification__item-time"> 2 days ago </div>
                    </div>
                  </a>
                  <a href="#" class="k-notification__item">
                    <div class="k-notification__item-icon"> <i class="flaticon2-pie-chart k-font-focus"></i> </div>
                    <div class="k-notification__item-details">
                      <div class="k-notification__item-title"> New customer is registered </div>
                      <div class="k-notification__item-time"> 3 days ago </div>
                    </div>
                  </a>
                </div>
              </form>
            </div>
          </div>
          <!--end: Notifications -->
          <!--begin: Quick Actions -->
          <div class="k-header__topbar-item">
            <div class="k-header__topbar-wrapper" id="k_offcanvas_toolbar_quick_actions_toggler_btn" (click)="changeStateMenuRapido()">
              <span class="k-header__topbar-icon"><i class="flaticon2-grids"></i></span>

            </div>
          </div>
          <!--end: Quick Actions -->
          <!--begin: User Bar -->
          <div class="k-header__topbar-item k-header__topbar-item--user">
            <div class="k-header__topbar-wrapper" data-toggle="dropdown" data-offset="0px -2px">
              <div class="k-header__topbar-user">
                <span class="k-header__topbar-welcome k-hidden-mobile">Hi,</span> <span class="k-header__topbar-username k-hidden-mobile">Sean</span>
                <img alt="Pic" src="../assets/media/users/300_25.jpg" />
                <!--use below badge element instead the user avatar to display username's first letter(remove k-hidden class to display it) -->
                <span class="k-badge k-badge--username k-badge--lg k-badge--brand k-hidden k-badge--bold">S</span>
              </div>
            </div>
            <div class="dropdown-menu dropdown-menu-fit dropdown-menu-right dropdown-menu-anim dropdown-menu-top-unround dropdown-menu-sm">
              <div class="k-user-card k-margin-b-50 k-margin-b-30-tablet-and-mobile" style="background-image: url(../assets/media/misc/head_bg_sm.jpg)">
                <div class="k-user-card__wrapper">
                  <div class="k-user-card__pic">
                    <img alt="Pic" src="../assets/media/users/300_21.jpg" />
                  </div>
                  <div class="k-user-card__details">
                    <div class="k-user-card__name">Alex Stone</div>
                    <div class="k-user-card__position">CTO, Loop Inc.</div>
                  </div>
                </div>
              </div>
              <ul class="k-nav k-margin-b-10">
                <li class="k-nav__item">
                  <a href="../classic/default/custom_user_profile-v1.html" class="k-nav__link">
                    <span class="k-nav__link-icon"><i class="flaticon2-calendar-3"></i></span>
                    <span class="k-nav__link-text">My Profile</span>
                  </a>
                </li>
                <li class="k-nav__item">
                  <a href="../classic/default/custom_user_profile-v1.html" class="k-nav__link">
                    <span class="k-nav__link-icon"><i class="flaticon2-browser-2"></i></span>
                    <span class="k-nav__link-text">My Tasks</span>
                  </a>
                </li>
                <li class="k-nav__item">
                  <a href="../classic/default/custom_user_profile-v1.html" class="k-nav__link">
                    <span class="k-nav__link-icon"><i class="flaticon2-mail"></i></span>
                    <span class="k-nav__link-text">Messages</span>
                  </a>
                </li>
                <li class="k-nav__item">
                  <a href="../classic/default/custom_user_profile-v1.html" class="k-nav__link">
                    <span class="k-nav__link-icon"><i class="flaticon2-gear"></i></span>
                    <span class="k-nav__link-text">Settings</span>
                  </a>
                </li>
                <li class="k-nav__item k-nav__item--custom k-margin-t-15"> <a class="btn btn-outline-metal btn-hover-brand btn-upper btn-font-dark btn-sm btn-bold" (click)="logout()" style="cursor: pointer;">Sign Out</a> </li>
              </ul>
            </div>
          </div>
          <!--end: User Bar -->
        </div>
        <!-- end:: Header Topbar -->
      </div>
      <!-- end:: Header -->
      <div class="k-grid__item k-grid__item--fluid k-grid k-grid--hor">
        <!-- begin:: Subheader -->
        <div class="k-subheader k-grid__item" id="k_subheader">
          <div class="k-subheader__main">
            <h3 class="k-subheader__title">
              Klinikos
            </h3>




            <span class="k-subheader__separator k-hidden"></span>
            <div class="k-subheader__breadcrumbs">
              <a href="#" class="k-subheader__breadcrumbs-home"><i class="flaticon2-shelter"></i></a>
              <!--
              <span class="k-subheader__breadcrumbs-separator"></span> <a href="" class="k-subheader__breadcrumbs-link"> Dashboards </a> <span class="k-subheader__breadcrumbs-separator"></span> <a href="" class="k-subheader__breadcrumbs-link"> Navy Aside </a>
              <span class="k-subheader__breadcrumbs-link k-subheader__breadcrumbs-link--active">Active link</span> -->
            </div>

          </div>
          <div class="k-subheader__toolbar">
            <div class="k-subheader__wrapper">
              <a href="#" class="btn btn-icon btn btn-label btn-label-brand btn-bold" data-toggle="k-tooltip" title="Reports" data-placement="top"><i class="flaticon2-writing"></i></a>
              <a href="#" class="btn btn-icon btn btn-label btn-label-brand btn-bold" data-toggle="k-tooltip" title="Calendar" data-placement="top"><i class="flaticon2-hourglass-1"></i></a>
              <div class="dropdown dropdown-inline" data-toggle="k-tooltip" title="Quick actions" data-placement="top">
                <a href="#" class="btn btn-icon btn btn-label btn-label-brand btn-bold" data-toggle="dropdown" data-offset="0 0" aria-haspopup="true" aria-expanded="false"> <i class="flaticon2-add-1"></i> </a>
                <div class="dropdown-menu dropdown-menu-sm dropdown-menu-right">
                  <ul class="k-nav k-nav--active-bg" role="tablist">
                    <li class="k-nav__item">
                      <a href="" class="k-nav__link"> <i class="k-nav__link-icon flaticon2-psd"></i> <span class="k-nav__link-text">Document</span> </a>
                    </li>
                    <li class="k-nav__item">
                      <a class="k-nav__link" role="tab"> <i class="k-nav__link-icon flaticon2-supermarket"></i> <span class="k-nav__link-text">Message</span> </a>
                    </li>
                    <li class="k-nav__item">
                      <a href="" class="k-nav__link"> <i class="k-nav__link-icon flaticon2-shopping-cart"></i> <span class="k-nav__link-text">Product</span> </a>
                    </li>
                    <li class="k-nav__item">
                      <a class="k-nav__link" role="tab">
                        <i class="k-nav__link-icon flaticon2-chart2"></i> <span class="k-nav__link-text">Report</span>
                        <span class="k-nav__link-badge"> <span class="k-badge k-badge--danger k-badge--inline k-badge--rounded">pdf</span> </span>
                      </a>
                    </li>
                    <li class="k-nav__item">
                      <a href="" class="k-nav__link"> <i class="k-nav__link-icon flaticon2-sms"></i> <span class="k-nav__link-text">Post</span> </a>
                    </li>
                    <li class="k-nav__item">
                      <a href="" class="k-nav__link"> <i class="k-nav__link-icon flaticon2-avatar"></i> <span class="k-nav__link-text">Customer</span> </a>
                    </li>
                  </ul>
                </div>
              </div>
              <a href="#" class="btn btn-sm btn-elevate btn-brand btn-elevate" id="k_dashboard_daterangepicker" data-toggle="k-tooltip" title="" data-placement="left" data-original-title="Select dashboard daterange"> <span class="k-opacity-7" id="k_dashboard_daterangepicker_title">Today:</span>&nbsp; <span class="k-font-bold" id="k_dashboard_daterangepicker_date">Jan 11</span> <i class="flaticon-calendar-with-a-clock-time-tools k-padding-l-5 k-padding-r-0"></i> </a>
            </div>
          </div>
        </div>
        <!-- end:: Subheader -->


        <router-outlet></router-outlet>
      </div>
      <div class="k-footer k-grid__item k-grid k-grid--desktop k-grid--ver-desktop" style="margin-bottom: 0px;">
        <div class="k-footer__copyright"> 2018&nbsp;&copy;&nbsp;<a href="http://www.ecosistemas.com.br" target="_blank" class="k-link">ECO Sistemas</a></div>
        <div class="k-footer__menu">
          <a href="http://www.ecosistemas.com/empresa/" target="_blank" class="k-footer__menu-link k-link">Sobre</a>
          <a href="http://www.ecosistemas.com/solucoes/" target="_blank" class="k-footer__menu-link k-link">Soluções</a>
          <a href="http://www.ecosistemas.com.br/contato/" target="_blank" class="k-footer__menu-link k-link">Contato</a>
        </div>
      </div>
      <!-- end:: Footer -->
    </div>
    <!-- end:: Wrapper -->
  </div>
  <!-- end:: Page -->
</div>
<!-- begin:: Topbar Offcanvas Panels -->
<!-- end:: Topbar Offcanvas Panels -->


<div id="k_quick_panel" class="k-offcanvas-panel">
  <div class="k-offcanvas-panel__nav">
    <ul class="nav nav-pills" role="tablist">
      <li class="nav-item active"> <a class="nav-link active" data-toggle="tab" href="#k_quick_panel_tab_notifications" role="tab">Notifications</a> </li>
      <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#k_quick_panel_tab_actions" role="tab">Actions</a> </li>
      <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#k_quick_panel_tab_settings" role="tab">Settings</a> </li>
    </ul>
    <button class="k-offcanvas-panel__close" id="k_quick_panel_close_btn"><i class="flaticon2-delete"></i></button>
  </div>
  <div class="k-offcanvas-panel__body">
    <div class="tab-content">
      <div class="tab-pane fade show k-offcanvas-panel__content k-scroll active" id="k_quick_panel_tab_notifications" role="tabpanel">
        <!--Begin::Timeline -->
        <div class="k-timeline">
          <!--Begin::Item -->
          <div class="k-timeline__item k-timeline__item--success">
            <div class="k-timeline__item-section">
              <div class="k-timeline__item-section-border">
                <div class="k-timeline__item-section-icon"> <i class="flaticon-feed k-font-success"></i> </div>
              </div>
              <span class="k-timeline__item-datetime">02:30 PM</span>
            </div>
            <a href="" class="k-timeline__item-text"> KeenThemes created new layout whith tens of new options for Keen Admin panel </a>
            <div class="k-timeline__item-info"> HTML,CSS,VueJS </div>
          </div>
          <!--End::Item -->
          <!--Begin::Item -->
          <div class="k-timeline__item k-timeline__item--danger">
            <div class="k-timeline__item-section">
              <div class="k-timeline__item-section-border">
                <div class="k-timeline__item-section-icon"> <i class="flaticon-safe-shield-protection k-font-danger"></i> </div>
              </div>
              <span class="k-timeline__item-datetime">01:20 AM</span>
            </div>
            <a href="" class="k-timeline__item-text"> New secyrity alert by Firewall & order to take aktion on User Preferences </a>
            <div class="k-timeline__item-info"> Security, Fieewall </div>
          </div>
          <!--End::Item -->
          <!--Begin::Item -->
          <div class="k-timeline__item k-timeline__item--brand">
            <div class="k-timeline__item-section">
              <div class="k-timeline__item-section-border">
                <div class="k-timeline__item-section-icon"> <i class="flaticon2-box k-font-brand"></i> </div>
              </div>
              <span class="k-timeline__item-datetime">Yestardey</span>
            </div>
            <a href="" class="k-timeline__item-text"> FlyMore design mock-ups been uploadet by designers Bob, Naomi, Richard </a>
            <div class="k-timeline__item-info"> PSD, Sketch, AJ </div>
          </div>
          <!--End::Item -->
          <!--Begin::Item -->
          <div class="k-timeline__item k-timeline__item--warning">
            <div class="k-timeline__item-section">
              <div class="k-timeline__item-section-border">
                <div class="k-timeline__item-section-icon"> <i class="flaticon-pie-chart-1 k-font-warning"></i> </div>
              </div>
              <span class="k-timeline__item-datetime">Aug 13,2018</span>
            </div>
            <a href="" class="k-timeline__item-text">
              Meeting with Ken Digital Corp ot Unit14, 3 Edigor Buildings, George Street, Loondon
              <br>
              England, BA12FJ
            </a>
            <div class="k-timeline__item-info"> Meeting, Customer </div>
          </div>
          <!--End::Item -->
          <!--Begin::Item -->
          <div class="k-timeline__item k-timeline__item--info">
            <div class="k-timeline__item-section">
              <div class="k-timeline__item-section-border">
                <div class="k-timeline__item-section-icon"> <i class="flaticon-notepad k-font-info"></i> </div>
              </div>
              <span class="k-timeline__item-datetime">May 09, 2018</span>
            </div>
            <a href="" class="k-timeline__item-text"> KeenThemes created new layout whith tens of new options for Keen Admin panel </a>
            <div class="k-timeline__item-info"> HTML,CSS,VueJS </div>
          </div>
          <!--End::Item -->
          <!--Begin::Item -->
          <div class="k-timeline__item k-timeline__item--accent">
            <div class="k-timeline__item-section">
              <div class="k-timeline__item-section-border">
                <div class="k-timeline__item-section-icon"> <i class="flaticon-bell k-font-accent"></i> </div>
              </div>
              <span class="k-timeline__item-datetime">01:20 AM</span>
            </div>
            <a href="" class="k-timeline__item-text"> New secyrity alert by Firewall & order to take aktion on User Preferences </a>
            <div class="k-timeline__item-info"> Security, Fieewall </div>
          </div>
          <!--End::Item -->
        </div>
        <!--End::Timeline -->
      </div>
      <div class="tab-pane fade k-offcanvas-panel__content k-scroll" id="k_quick_panel_tab_actions" role="tabpanel">
        <!--begin::Portlet-->
        <div class="k-portlet k-portlet--solid-success">
          <div class="k-portlet__head">
            <div class="k-portlet__head-label">
              <span class="k-portlet__head-icon k-hide"><i class="flaticon-stopwatch"></i></span>
              <h3 class="k-portlet__head-title">
                Recent Bills
              </h3>
            </div>
            <div class="k-portlet__head-toolbar">
              <div class="k-portlet__head-group">
                <div class="dropdown dropdown-inline">
                  <button type="button" class="btn btn-sm btn-font-light btn-outline-hover-light btn-circle btn-icon" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"> <i class="flaticon-more"></i> </button>
                  <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="#">Action</a> <a class="dropdown-item" href="#">Another action</a> <a class="dropdown-item" href="#">Something else here</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Separated link</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="k-portlet__body">
            <div class="k-portlet__content"> Lorem Ipsum is simply dummy text of the printing and typesetting simply dummy text of the printing industry. </div>
          </div>
          <div class="k-portlet__foot k-portlet__foot--sm k-align-right"> <a href="#" class="btn btn-bold btn-upper btn-sm btn-font-light btn-outline-hover-light">Dismiss</a> <a href="#" class="btn btn-bold btn-upper btn-sm btn-font-light btn-outline-hover-light">View</a> </div>
        </div>
        <!--end::Portlet-->
        <!--begin::Portlet-->
        <div class="k-portlet k-portlet--solid-focus">
          <div class="k-portlet__head">
            <div class="k-portlet__head-label">
              <span class="k-portlet__head-icon k-hide"><i class="flaticon-stopwatch"></i></span>
              <h3 class="k-portlet__head-title">
                Latest Orders
              </h3>
            </div>
            <div class="k-portlet__head-toolbar">
              <div class="k-portlet__head-group">
                <div class="dropdown dropdown-inline">
                  <button type="button" class="btn btn-sm btn-font-light btn-outline-hover-light btn-circle btn-icon" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"> <i class="flaticon-more"></i> </button>
                  <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="#">Action</a> <a class="dropdown-item" href="#">Another action</a> <a class="dropdown-item" href="#">Something else here</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Separated link</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="k-portlet__body">
            <div class="k-portlet__content"> Lorem Ipsum is simply dummy text of the printing and typesetting simply dummy text of the printing industry. </div>
          </div>
          <div class="k-portlet__foot k-portlet__foot--sm k-align-right"> <a href="#" class="btn btn-bold btn-upper btn-sm btn-font-light btn-outline-hover-light">Dismiss</a> <a href="#" class="btn btn-bold btn-upper btn-sm btn-font-light btn-outline-hover-light">View</a> </div>
        </div>
        <!--end::Portlet-->
        <!--begin::Portlet-->
        <div class="k-portlet k-portlet--solid-info">
          <div class="k-portlet__head">
            <div class="k-portlet__head-label">
              <h3 class="k-portlet__head-title">
                Latest Invoices
              </h3>
            </div>
            <div class="k-portlet__head-toolbar">
              <div class="k-portlet__head-group">
                <div class="dropdown dropdown-inline">
                  <button type="button" class="btn btn-sm btn-font-light btn-outline-hover-light btn-circle btn-icon" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"> <i class="flaticon-more"></i> </button>
                  <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="#">Action</a> <a class="dropdown-item" href="#">Another action</a> <a class="dropdown-item" href="#">Something else here</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Separated link</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="k-portlet__body">
            <div class="k-portlet__content"> Lorem Ipsum is simply dummy text of the printing and typesetting simply dummy text of the printing industry. </div>
          </div>
          <div class="k-portlet__foot k-portlet__foot--sm k-align-right"> <a href="#" class="btn btn-bold btn-upper btn-sm btn-font-light btn-outline-hover-light">Dismiss</a> <a href="#" class="btn btn-bold btn-upper btn-sm btn-font-light btn-outline-hover-light">View</a> </div>
        </div>
        <!--end::Portlet-->
        <!--begin::Portlet-->
        <div class="k-portlet k-portlet--solid-warning">
          <div class="k-portlet__head">
            <div class="k-portlet__head-label">
              <h3 class="k-portlet__head-title">
                New Comments
              </h3>
            </div>
            <div class="k-portlet__head-toolbar">
              <div class="k-portlet__head-group">
                <div class="dropdown dropdown-inline">
                  <button type="button" class="btn btn-sm btn-font-light btn-outline-hover-light btn-circle btn-icon" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"> <i class="flaticon-more"></i> </button>
                  <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="#">Action</a> <a class="dropdown-item" href="#">Another action</a> <a class="dropdown-item" href="#">Something else here</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Separated link</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="k-portlet__body">
            <div class="k-portlet__content"> Lorem Ipsum is simply dummy text of the printing and typesetting simply dummy text of the printing industry. </div>
          </div>
          <div class="k-portlet__foot k-portlet__foot--sm k-align-right"> <a href="#" class="btn btn-bold btn-upper btn-sm btn-font-light btn-outline-hover-light">Dismiss</a> <a href="#" class="btn btn-bold btn-upper btn-sm btn-font-light btn-outline-hover-light">View</a> </div>
        </div>
        <!--end::Portlet-->
        <!--begin::Portlet-->
        <div class="k-portlet k-portlet--solid-brand">
          <div class="k-portlet__head">
            <div class="k-portlet__head-label">
              <h3 class="k-portlet__head-title">
                Recent Posts
              </h3>
            </div>
            <div class="k-portlet__head-toolbar">
              <div class="k-portlet__head-group">
                <div class="dropdown dropdown-inline">
                  <button type="button" class="btn btn-sm btn-font-light btn-outline-hover-light btn-circle btn-icon" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"> <i class="flaticon-more"></i> </button>
                  <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="#">Action</a> <a class="dropdown-item" href="#">Another action</a> <a class="dropdown-item" href="#">Something else here</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Separated link</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="k-portlet__body">
            <div class="k-portlet__content"> Lorem Ipsum is simply dummy text of the printing and typesetting simply dummy text of the printing industry. </div>
          </div>
          <div class="k-portlet__foot k-portlet__foot--sm k-align-right"> <a href="#" class="btn btn-bold btn-upper btn-sm btn-font-light btn-outline-hover-light">Dismiss</a> <a href="#" class="btn btn-bold btn-upper btn-sm btn-font-light btn-outline-hover-light">View</a> </div>
        </div>
        <!--end::Portlet-->
      </div>
      <div class="tab-pane fade k-offcanvas-panel__content k-scroll" id="k_quick_panel_tab_settings" role="tabpanel">
        <form class="k-form">
          <div class="k-heading k-heading--space-sm">Notifications</div>
          <div class="form-group form-group-xs row">
            <label class="col-8 col-form-label">Enable notifications:</label>
            <div class="col-4 k-align-right">
              <span class="k-switch k-switch--sm">
                <label>
                  <input type="checkbox" checked="checked" name="quick_panel_notifications_1">
                  <span></span>
                </label>
              </span>
            </div>
          </div>
          <div class="form-group form-group-xs row">
            <label class="col-8 col-form-label">Enable audit log:</label>
            <div class="col-4 k-align-right">
              <span class="k-switch k-switch--sm">
                <label>
                  <input type="checkbox" name="quick_panel_notifications_2">
                  <span></span>
                </label>
              </span>
            </div>
          </div>
          <div class="form-group form-group-last form-group-xs row">
            <label class="col-8 col-form-label">Notify on new orders:</label>
            <div class="col-4 k-align-right">
              <span class="k-switch k-switch--sm">
                <label>
                  <input type="checkbox" checked="checked" name="quick_panel_notifications_2">
                  <span></span>
                </label>
              </span>
            </div>
          </div>
          <div class="k-separator k-separator--space-md k-separator--border-dashed"></div>
          <div class="k-heading k-heading--space-sm">Orders</div>
          <div class="form-group form-group-xs row">
            <label class="col-8 col-form-label">Enable order tracking:</label>
            <div class="col-4 k-align-right">
              <span class="k-switch k-switch--sm k-switch--danger">
                <label>
                  <input type="checkbox" checked="checked" name="quick_panel_notifications_3">
                  <span></span>
                </label>
              </span>
            </div>
          </div>
          <div class="form-group form-group-xs row">
            <label class="col-8 col-form-label">Enable orders reports:</label>
            <div class="col-4 k-align-right">
              <span class="k-switch k-switch--sm k-switch--danger">
                <label>
                  <input type="checkbox" name="quick_panel_notifications_3">
                  <span></span>
                </label>
              </span>
            </div>
          </div>
          <div class="form-group form-group-last form-group-xs row">
            <label class="col-8 col-form-label">Allow order status auto update:</label>
            <div class="col-4 k-align-right">
              <span class="k-switch k-switch--sm k-switch--danger">
                <label>
                  <input type="checkbox" checked="checked" name="quick_panel_notifications_4">
                  <span></span>
                </label>
              </span>
            </div>
          </div>
          <div class="k-separator k-separator--space-md k-separator--border-dashed"></div>
          <div class="k-heading k-heading--space-sm">Customers</div>
          <div class="form-group form-group-xs row">
            <label class="col-8 col-form-label">Enable customer singup:</label>
            <div class="col-4 k-align-right">
              <span class="k-switch k-switch--sm k-switch--success">
                <label>
                  <input type="checkbox" checked="checked" name="quick_panel_notifications_5">
                  <span></span>
                </label>
              </span>
            </div>
          </div>
          <div class="form-group form-group-xs row">
            <label class="col-8 col-form-label">Enable customers reporting:</label>
            <div class="col-4 k-align-right">
              <span class="k-switch k-switch--sm k-switch--success">
                <label>
                  <input type="checkbox" name="quick_panel_notifications_5">
                  <span></span>
                </label>
              </span>
            </div>
          </div>
          <div class="form-group form-group-last form-group-xs row">
            <label class="col-8 col-form-label">Notifiy on new customer registration:</label>
            <div class="col-4 k-align-right">
              <span class="k-switch k-switch--sm k-switch--success">
                <label>
                  <input type="checkbox" checked="checked" name="quick_panel_notifications_6">
                  <span></span>
                </label>
              </span>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- end:: Content -->
</div>



<!-- begin::Offcanvas Toolbar Quick Actions -->
<div id="k_offcanvas_toolbar_quick_actions" class="k-offcanvas-panel" [@changeDivSizeMenuRapido]=currentStateMenuRapido>
  <div class="k-offcanvas-panel__head">
    <h3 class="k-offcanvas-panel__title">
      Menu Rápido
    </h3>
    <a href="#" class="k-offcanvas-panel__close" id="k_offcanvas_toolbar_quick_actions_close" (click)="changeFechaMenuRapido()"><i class="flaticon2-delete"></i></a>
  </div>
  <div class="k-offcanvas-panel__body">
    <div class="k-grid-nav-v2">
      <a class="k-grid-nav-v2__item" style="cursor:pointer;" (click)="changePage('cadastro')">
        <div class="k-grid-nav-v2__item-icon"><i class="flaticon2-box"></i></div>
        <div class="k-grid-nav-v2__item-title">Cadastro</div>
      </a>
      <a class="k-grid-nav-v2__item" style="cursor:pointer;"  (click)="changePage('registroboletim')">
        <div class="k-grid-nav-v2__item-icon"><i class="flaticon-download-1"></i></div>
        <div class="k-grid-nav-v2__item-title">Boletim</div>
      </a>
      <a class="k-grid-nav-v2__item" style="cursor:pointer;" id="acolhimento" (click)="changePage('acolhimento')">
        <div class="k-grid-nav-v2__item-icon"><i class="flaticon2-supermarket"></i></div>
        <div class="k-grid-nav-v2__item-title">Acolhimento</div>
      </a>
      <a class="k-grid-nav-v2__item" style="cursor:pointer;" id="classificacaorisco" (click)="changePage('classificacaorisco')">
        <div class="k-grid-nav-v2__item-icon"><i class="flaticon2-avatar"></i></div>
        <div class="k-grid-nav-v2__item-title">Classificação de Risco</div>
      </a>
      <a class="k-grid-nav-v2__item">
        <div class="k-grid-nav-v2__item-icon"><i class="flaticon2-list"></i></div>
        <div class="k-grid-nav-v2__item-title">Atendimento Médico</div>
      </a>
      <a class="k-grid-nav-v2__item">
        <div class="k-grid-nav-v2__item-icon"><i class="flaticon2-settings"></i></div>
        <div class="k-grid-nav-v2__item-title">Configurações</div>
      </a>
    </div>
  </div>
</div>
<!-- end:: Quick Panel -->
<!-- begin:: Scrolltop -->
<div id="k_scrolltop" class="k-scrolltop"> <i class="la la-arrow-up"></i> </div>
