<div class="k-grid k-grid--ver k-grid--root">
  <div class="k-grid__item k-grid__item--fluid k-grid k-grid k-grid--hor k-login-v1" id="k_login_v1">
    <!--begin::Item-->
    <div class="k-grid__item k-grid--hor">
      <!--begin::Heade-->
      <div class="k-login-v1__head">
        <div class="k-login-v1__head-logo">
          <a href="javascript:void(0);">
            <img src="../../assets/media/logos/logo-klinikos-txt.png" alt="" />
          </a>
        </div>
        <div class="k-login-v1__head-signup">
          <h4>
            Solicitar registro de conta.
          </h4>
          <a href="#" class="k-link">Registrar</a>
        </div>
      </div>
      <!--begin::Head-->
    </div>
    <!--end::Item-->
    <!--begin::Item-->
    <div class="k-grid__item k-grid k-grid--ver k-grid__item--fluid ">
      <!--begin::Body-->
      <div class="k-login-v1__body">
        <!--begin::Section-->
        <div class="k-login-v1__body-section">
          <div class="k-login-v1__body-section-info">
            <h3>
              Pronto para entrar em uma nova era? Conheça!
            </h3>
            <p>O melhor sistema de saúde do Brasil</p>
          </div>
        </div>
        <!--begin::Section-->
        <!--begin::Separator-->
        <div class="k-login-v1__body-seaprator"></div>
        <!--end::Separator-->
        <!--begin::Wrapper-->
        <div class="k-login-v1__body-wrapper">
          <div class="k-login-v1__body-container">
            <h3 class="k-login-v1__body-title">
              Acesso ao sistema
            </h3>
            <!--begin::Form-->
            <form class="k-login-v1__body-form k-form" autocomplete="off" #usuario="ngForm" (ngSubmit)="onLogar(usuario);">
              <div class="form-group">
                <input class="form-control" type="text" placeholder="" name="usuario" autocomplete="off" ngModel>
              </div>
              <div class="form-group">
                <input class="form-control" type="password" placeholder="" name="senha" autocomplete="off" ngModel>
              </div>
              <div class="form-group">
                <span style="color: white"></span>
              </div>
              <!--end::Form-->
              <!--begin::Action-->
              <div class="k-login-v1__body-action">
                <a href="#" class="k-link"> <span>Esqueceu a senha?</span> </a>
                <button type="submit" class="btn btn-pill btn-elevate">Entrar</button>
              </div>
              <!--end::Action-->
            </form>
          </div>
        </div>
        <!--end::Wrapper-->
      </div>
      <!--begin::Body-->
    </div>
    <!--end::Item-->
    <!--begin::Item-->
    <div class="k-grid__item">
      <div class="k-login-v1__footer">
        <div class="k-login-v1__footer-link">
          <a href="#" class="k-link">Privacidade</a>
          <a href="#" class="k-link">Sobre</a>
          <a href="#" class="k-link">Contato</a>
        </div>
        <div class="k-login-v1__footer-info"> <a href="http://www.ecosistemas.com.br" class="k-link">&copy; 2019 ECO Sistemas</a> </div>
      </div>
    </div>
    <!--end::Item-->
  </div>
</div>
