 <!-- begin:: Content -->
 <div class="k-content k-grid__item k-grid__item--fluid" id="k_content">
  <div class="row">
      <div class="col-lg-12">

          <!--begin::Form-->
          <form class="clean_on k-form k-form--label-right">
              
              <!--begin: Portlet Main-->
              <div class="k-portlet">
                <!--
                  <div class="k-portlet__head">
                      <div class="k-portlet__head-label">
                          <h3 class="k-portlet__head-title">
                              Fila de Registro
                          </h3>
                      </div>
                  </div>
                  -->

                  <div class="k-portlet__body">
                      <!--begin: Datatable Filters -->
                      <div class="form-group row p-0 mb-3">
                          <div class="col-lg-3 col-sm-6 m-0 p-0">
                              <label>Exibir</label>
                              <select class="form-control form-control-sm custom-select custom-select-sm w-50" name="FC_FilaExibicao">
                                  <option value="10">10</option>
                                  <option value="25">25</option>
                                  <option value="50">50</option>
                                  <option value="100">100</option>
                              </select>
                          </div>
                          
                          <div class="col-lg-4 text-right">
                              <label>Exibir Detalhes</label>
                              <select class="form-control form-control-sm custom-select custom-select-sm w-50" name="FC_ExibirDetalhes">
                                  <option value="0">Nenhum</option>
                                  <option value="1">Todos</option>
                                  <option value="2">10 primeiros</option>
                                  <option value="3">25 primeiros</option>

                              </select>
                          </div>

                          <div class="col-lg-5 col-sm-6 m-0 p-0 clearfix">
                              <input type="text" class="form-control form-control-sm float-right" name="FR_PesquiaFila" placeholder="Pesquisar paciente" aria-controls="k_table_1">
                          </div>
                      </div>
                      <!--end: Datatable Filters -->

                      <!--begin: Datatable -->
                      <table class="table table-striped table-hover">
                          <thead>
                              <tr class="text-center">
                                  <th data-sort="int" style="width:2%">#</th>
                                  <th style="width:5%">Info</th>
                                  <th data-sort="string" class="text-left">Nome</th>
                                  <th>Especialidade</th>
                                  <th>Acolhido</th>
                                  <th>Espera</th>
                                  <th style="width:5%">Status</th>
                                  <th style="width:5%" class="text-center">Painel</th>
                                  <th colspan="2" style="width:5%">Opções</th>
                              </tr>
                          </thead>
                          <tbody class="tblsearch_grid">
                              <tr class="text-center data">
                                  <td>03</td>
                                  <td class="d-flex justify-content-start">
                                      <i class="fa fa-user-check fa-fw i-s1 c-amarelo mr-1 ch" title="Risco Amarelo (Observação)" data-toggle="k-tooltip" data-placement="top" data-trigger="hover"></i>
                                      <!-- Outros exemplos:
                                      <i class="fa fa-user fa-fw i-s1 c-cinza mr-1 ch" title="(Não Classificado)" data-toggle="k-tooltip"  data-placement="top" data-trigger="hover"></i>
                                      <i class="fa fa-user-check fa-fw i-s1 c-cinza mr-1 ch" title="Com Risco (Não Classificado)" data-toggle="k-tooltip" data-placement="top" data-trigger="hover"></i>
                                      <i class="fa fa-user-check fa-fw i-s1 c-azul mr-1 ch" title="Risco Azul" data-toggle="k-tooltip" data-placement="top" data-trigger="hover"></i>
                                      <i class="fa fa-user-check fa-fw i-s1 c-verde mr-1 ch" title="Risco Verde" data-toggle="k-tooltip" data-placement="top" data-trigger="hover"></i>
                                      <i class="fa fa-user-check fa-fw i-s1 c-amarelo mr-1 ch" title="Risco Amarelo (Consultório)" data-toggle="k-tooltip" data-placement="top" data-trigger="hover"></i>
                                      <i class="fa fa-user-check fa-fw i-s1 c-vermelho mr-1 ch" title="Risco Vermelho" data-toggle="k-tooltip" data-placement="top" data-trigger="hover"></i>
                                      <i class="fa fa-wheelchair fa-fw i-s1 mr-1 ch" title="Cadeirante" data-toggle="k-tooltip" data-placement="top" data-trigger="hover"></i>
                                      <img src="../classic/assets/media/icons/icon-prioridade-pregnant.svg" class="mr-1 ch" style="height:20px;" title="Gestante" data-toggle="k-tooltip" data-placement="top" data-trigger="hover">
                                      <img src="../classic/assets/media/icons/icon-prioridade-elderly-60.svg" class="mr-1 ch" style="height:20px;" title="Idoso entra 60 e 79 anos" data-toggle="k-tooltip" data-placement="top" data-trigger="hover">
                                      <img src="../classic/assets/media/icons/icon-prioridade-elderly-80.svg" class="mr-1 ch" style="height:20px;" title="Idoso acima de 80 anos" data-toggle="k-tooltip" data-placement="top" data-trigger="hover">
                                      -->
                                  </td>
                                  <td class="text-left">Eliza Lima [Roberto Soares]</td>
                                  <td>Clínica Médica</td>
                                  <td>17/06/2019 14:25</td>
                                  <td>02h 13min</td>
                                  <td>
                                      <span class="badge c-branco k-label-bg-color-2 cp ls-1" title="Aguardando Classificação de Risco" data-toggle="k-tooltip" data-placement="top" data-trigger="hover">ACR</span>
                                      <!-- Outros Exemplos: 
                                      <span class="badge c-branco k-label-bg-color-2 cp ls-1" title="Aguardando Registro de Boletim" data-toggle="k-tooltip" data-placement="top" data-trigger="hover">ARB</span>
                                      <span class="badge c-branco k-label-bg-color-2 cp ls-1" title="Aguardando Atendimento Médico" data-toggle="k-tooltip" data-placement="top" data-trigger="hover">AAM</span>
                                      <span class="badge btn-accent cp ls-1" title="Registro do Boletim" data-toggle="k-tooltip" data-placement="top" data-trigger="hover">RB</span>
                                      <span class="badge btn-accent cp ls-1" title="Classificação de Risco" data-toggle="k-tooltip" data-placement="top" data-trigger="hover">CR</span>
                                      <span class="badge btn-accent cp ls-1" title="Atendimento Médico" data-toggle="k-tooltip" data-placement="top" data-trigger="hover">AM</span>
                                      <span class="badge btn-accent cp ls-1" title="Reavaliação" data-toggle="k-tooltip" data-placement="top" data-trigger="hover">RE</span>
                                      -->
                                  </td>
                                  <td class="d-flex justify-content-center">
                                      <a class="gai-painel mr-2" href="javascript:void(0);" title="Chamar paciente"><i class="fas fa-microphone-alt i-s1"></i></a>
                                      <a class="gai-checkin oculta" href="javascript:void(0);" title="Confirmar chegada"><i class="fa fa-check-circle i-s1 c-verde"></i></a>
                                  </td>
                                  <td>
                                      <!--Options-->
                                      <div class="dropdown dropdown-inline">
                                          <a title="Ações" href="javascript:void(0);" class="fa fa-edit i-s1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></a>
                                          <div class="dropdown-menu dropdown-menu-right" x-placement="bottom-end" style="position: absolute; will-change:transform; top: 0px; left: 0px; transform: translate3d(-143px, 39px, 0px);">
                                              <a class="dropdown-item" href="#"><i class="la la-rotate-right"></i> Retornar para Fila</a>
                                              <a class="dropdown-item" href="#"><i class="la la-user-times"></i> Evasão (sem Atendimento)</a>
                                              <a class="dropdown-item" href="#"><i class="la la-sign-out"></i> Alta a Pedido (do Paciente)</a>
                                              <div class="dropdown-divider"></div>
                                              <a class="dropdown-item" href="#"><i class="la la-cog"></i> Outros</a>
                                          </div>
                                      </div>
                                      <!--Options-->
                                  </td>
                                  <td id="n1" title="Mostrar/Ocultar detalhes">
                                      <a class="gai-detail" href="javascript:void(0);"><i class="la la-plus-circle i-s2"></i></a>
                                  </td>
                              </tr>

                              <!--begin:Detalhes -->
                              <tr class="box-detail oculta" style="background:#eee">
                                  <td colspan="10">
                                      <div class="form group row">
                                          <div class="col-12">
                                              <!--begin: Sinais Vitais -->
                                              <table class="table table-bordered">
                                                  <thead class="">
                                                      <tr class="text-center">
                                                          <th>Peso</th>
                                                          <th>Altura</th>
                                                          <th>IMC</th>
                                                          <th>Temperatura</th>
                                                          <th colspan="2">Pre. Arterial</th>
                                                          <th>Pulso</th>
                                                          <th>Freq. Respiratória</th>
                                                          <th>Saturação</th>
                                                      </tr>
                                                  </thead>
                                                  <tbody>
                                                      <tr class="text-center">
                                                          <td>95,6</td>
                                                          <td>183</td>
                                                          <td>27,5 (Sobrepeso)</td>
                                                          <td>34,5</td>
                                                          <td>60</td>
                                                          <td>110</td>
                                                          <td>45</td>
                                                          <td>52</td>
                                                          <td>87</td>
                                                      </tr>
                                                  </tbody>
                                              </table>
                                              <!--end: Sinais Vitais -->
                                          </div>
                                      </div>
                                  </td>
                              </tr>
                              <!--end:Detalhes -->

                          </tbody>
                          
                      </table>
                      <!--end: Datatable -->
                      
                  </div>
                  <!--end::Portlet-body -->
                  
              </div>
              <!--end::Portlet Main-->
              
              <!--begin:: Form Buttons -->
              <div class="k-portlet__foot">
                  <div class="k-form__actions">
                      <div class="form-group row justify-content-end p-2">
                          <ul class="pagination">
                              <li class="page-item"><a class="page-link" href="#">Anterior</a></li>
                              <li class="page-item"> <a class="page-link" href="#" tabindex="-1">1</a></li>
                              <li class="page-item active"><a class="page-link" href="#">2</a></li>
                              <li class="page-item"><a class="page-link" href="#">3</a></li>
                              <li class="page-item"><a class="page-link" href="#">Próximo</a></li>
                          </ul>
                      </div>
                  </div>
              </div>
              <!--end:: Form Buttons -->

          </form>
          <!--end::Form-->
      </div>
  </div>
  
</div>
<!-- end:: Content -->